<a href="https://colab.research.google.com/github/vitorwmoutinho/projeto1aprender/blob/main/exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A program that reads a sequence of numbers
# and counts how many numbers are even and many are odd
# The program terminates when zero is entered

odd_numbers = 0
even_numbers = 0

# Read the first number.
number = int(input("Enter a number or type 0 to stop: "))

# 0 terminate execution.
while number != 0:
  # Check if the number is odd
   if number % 2 == 1:
   # read the next number.
      odd_numbers += 1
   else:
    # Increase the even_numbers counter
    even_numbers += 1
    # Read the next number
   number = int(input("Enter a number or type 0 to stop: "))

# Print results
print("Odd numbers count:", odd_numbers)
print("Even numbers count:", even_numbers)

Enter a number or type 0 to stop: 1
Enter a number or type 0 to stop: 2
Enter a number or type 0 to stop: 3
Enter a number or type 0 to stop: 4
Enter a number or type 0 to stop: 5
Enter a number or type 0 to stop: 0
Odd numbers count: 3
Even numbers count: 2

In [ ]:
for i in range(1, 6):
    print("The value of i is currently", i)

The value of i is currently 1
The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5

In [ ]:
import time
    # Write a for loop that counts to five.
for i in range(1, 6):
    # Body of the loop - use: time.sleep(1)
    time.sleep(1)
    print(i, "Mississippi")
# Write a print function with the final message.
print("Ready or not, here I come")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
Ready or not, here I come

In [ ]:
# break - example

print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop.

In [ ]:

# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Inside the loop.", i)
print("Outside the loop.")

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [ ]:
largest_number = -99999999
counter = 0

while True:
    number = int(input("Enter a number or type -1 to end program: "))
    if number == -1:
        break
    counter += 1
    if number > largest_number:
        largest_number = number

if counter != 0:
    print("The largest number is", largest_number)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 1
Enter a number or type -1 to end program: 2
Enter a number or type -1 to end program: -1
The largest number is 2

In [ ]:
largest_number = -99999999
counter = 0

number = int(input("Enter a number or type -1 to end program: "))

while number != -1:
    if number == -1:
        continue
    counter += 1

    if number > largest_number:
        largest_number = number
    number = int(input("Enter a number or type -1 to end program: "))

if counter:
    print("The largest number is", largest_number)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 10
Enter a number or type -1 to end program: 12
Enter a number or type -1 to end program: -1
The largest number is 12

In [ ]:
p_passe = input("Escolha o animal: ")

while p_passe != "chupacabra":
  if p_passe == "chupacabra":
    break
  else:
    print("Animal errado, escolha novamente: ")
    p_passe = input("Escolha o animal: ")

else:
  print("Zélelele")

Escolha o animal: Marex
Animal errado, escolha novamente:
Escolha o animal: Bovo
Animal errado, escolha novamente:
Escolha o animal: bolovo
Animal errado, escolha novamente:
Escolha o animal: dacueba
Animal errado, escolha novamente:
Escolha o animal: chupacabra
Zélelele

In [ ]:
# Prompt the user to enter a word
# and assign it to the user_word variable.
user_Word = input("Enter a word: ")
user_Word = user_Word.upper()

for letter in user_Word:
    # Complete the body of the for loop
    if letter in "AEIOU":
      continue
    print(letter)

Enter a word: Gregory
G
R
G
R
Y

In [ ]:
word_without_vowels = ""
user_word = input("Enter a word: ")
user_word = user_word.upper()
# Prompt the user to enter a word
# and assign it to the user_word variable.


for letter in user_word:
  if letter in "AEIOU":
    continue
  word_without_vowels += letter
    # Complete the body of the loop.

# Print the word assigned to word_without_vowels.
print(word_without_vowels)

Enter a word: Gregory
GRGRY

In [ ]:
i = 1
while i < 5:
  print(i)
  i += 1
else:
  print("else:", i)

1
2
3
4
else: 5

In [ ]:
for i in range(6):
    print(i)
else:
    print("else:", i)

0
1
2
3
4
5
else: 5

In [ ]:
blocks = int(input("Enter the number of blocks: "))

height = 0
blocks_used = 0
step = 1
while blocks_used < blocks:
  blocks_used += step
  if blocks_used > blocks:
    break
  else:
    height += 1
    step += 1


print("The height of the pyramid:", height)

Enter the number of blocks: 1000
The height of the pyramid: 44

In [ ]:
c0 = int(input("Enter a number: "))
if c0 < 1:
  print("Use a non-negative, non-zero number")
  exit

steps = 0

while c0 != 1:
  if c0  % 2 == 0:
    c0 = int(c0 / 2)
  else:
    c0 = 3 * c0 + 1
  print(c0)
  steps += 1

print("Total number of steps: ", steps)

In [ ]:
# Example 1
while True:
    print("Stuck in an infinite loop.")

# Example 2
counter = 5
while counter > 2:
    print(counter)
    counter -= 1

In [ ]:
# Example 1
word = "Python"
for letter in word:
    print(letter, end="*")

# Example 2
for i in range(1, 10):
    if i % 2 == 0:
        print(i)

In [ ]:
text = "OpenEDG Python Institute"
for letter in text:
    if letter == "i":
        break
    print(letter, end="")

OpenEDG Python Inst

In [ ]:
text = "pyxpyxpyx"
for letter in text:
    if letter == "x":
        continue
    print(letter, end="")

pypypy

In [ ]:
n = int(input("Numero: "))

while n != 3:
    print(n)
    n += 1
else:
    print(n, "else")

print()

for i in range(0, 5):
    print(i)
else:
    print(i, "else")

In [ ]:
for i in range(3):
    print(i, end=" ")  # Outputs: 0 1 2

for i in range(6, 1, -2):
    print(i, end=" ")  # Outputs: 6, 4, 2

0 1 2 6 4 2

In [ ]:
for i in range(11):
  if i % 2 != 0:
    print(i)

In [ ]:
x = 1
while x < 11:
  if x % 2 != 0:
    print(x)
  x += 1

In [ ]:
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch, end="")

john.smith

In [ ]:
for digit in "0165031806510":
  if digit == "0":
    print("x", end="")
    continue
  print(digit, end="")

x165x318x651x

In [ ]:
n = 3

while n > 0:
  print(n + 1)
  n -= 1
else:
  print(n)

4
3
2
0

In [ ]:
n = range(4)

for num in n:
  print(num - 1)
else:
  print(num)

-1
0
1
2
3

In [ ]:
def fun (in = 2, out = 3):
  return in * out
  print(fun(3))

SyntaxError: invalid syntax (<ipython-input-1-f8f00895fbe0>, line 1)

In [ ]:
for i in range(0, 6, 3):
  print(i)

0
3

In [ ]:
counter > 0 and value == 100

In [ ]:
# Example 1:
print(var > 0)
print(not (var <= 0))


# Example 2:
print(var != 0)
print(not (var == 0))

In [ ]:
i = 1
j = not not i

In [ ]:
var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)

17 68 8

In [ ]:
x = 1
y = 0

z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [ ]:
x = 4
y = 1

a = x & y
b = x | y
c = ~x  # tricky!
d = x ^ 5
e = x >> 2
f = x << 2

print(a, b, c, d, e, f)

0 5 -5 1 1 16

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("New list content: ", numbers)  # Current list content.

Original list content: [10, 5, 7, 2, 1]
New list content:  [111, 5, 7, 2, 1]

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("\nPrevious list content:", numbers)  # Printing previous list content.

numbers[1] = numbers[4]  # Copying value of the fifth element to the second.
print("New list content:", numbers)  # Printing current list content.

Original list content: [10, 5, 7, 2, 1]

Previous list content: [111, 5, 7, 2, 1]
New list content: [111, 1, 7, 2, 1]

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("\nPrevious list content:", numbers)  # Printing previous list content.

numbers[1] = numbers[4]  # Copying value of the fifth element to the second.
print("Previous list content:", numbers)  # Printing previous list content.

print("\nList length:", len(numbers))  # Printing the list's length.

Original list content: [10, 5, 7, 2, 1]

Previous list content: [111, 5, 7, 2, 1]
Previous list content: [111, 1, 7, 2, 1]

List length: 5

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("\nPrevious list content:", numbers)  # Printing previous list content.

numbers[1] = numbers[4]  # Copying value of the fifth element to the second.
print("Previous list content:", numbers)  # Printing previous list content.

print("\nList's length:", len(numbers))  # Printing previous list length.

###

del numbers[1]  # Removing the second element from the list.
print("New list's length:", len(numbers))  # Printing new list length.
print("\nNew list content:", numbers)  # Printing current list content.

In [ ]:
numbers = [111, 7, 2, 1]
print(numbers[-1])
print(numbers[-2])
print(numbers[-4])

1
2
111

In [ ]:
hat_list = [1, 2, 3, 4, 5]  # This is an existing list of numbers hidden in the hat.

print(hat_list)

hat_list[3] = int(input("Escreva o numero novo: "))
print(hat_list)
# Step 2: write a line of code that removes the last element from the list.

del hat_list[4]

# Step 3: write a line of code that prints the length of the existing list.

print(hat_list)
print(len(hat_list))

[1, 2, 3, 4, 5]
Escreva o numero novo: 123
[1, 2, 3, 123, 5]
[1, 2, 3, 123]
4

In [ ]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

list.insert(1, 333)

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

In [ ]:
my_list = []  # Creating an empty list.

for i in range(5):
    my_list.insert(0, i + 1)

print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
my_list = [] #Creating an empty list

for i in range(5):
  my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list1 = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list1)):
  total += my_list1[i]

print(total)

In [ ]:
var1 = 1
var2 = 2

aux = var1
var1 = var2
var2 = aux

print(var1," ", var2)

2   1

In [ ]:
var_1 = 1
var_2 = 2

print(var_1, var_2)

var_1, var_2 = var_2, var_1

print(var_1, var_2)

1 2
2 1

In [ ]:
my_list = [10, 1, 8, 3, 5]

my_list[0], my_list[4] = my_list[4], my_list[0]
my_list[1], my_list[3] = my_list[3], my_list[1]

print(my_list)

[5, 3, 8, 1, 10]

In [ ]:
my_list = [10, 1, 8, 3, 5]
length = len(my_list)

for i in range (length // 2):
  my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]

print(my_list)

[5, 3, 8, 1, 10]

In [ ]:
beatles = [] #empty list

print("Step 1:", beatles)

# step 2
beatles.append("John Lennon")
beatles.append("Paul McCartey")
beatles.append("George Harrison")
print("Step 2:", beatles)

# step 3
for menber in range(2):
  beatlesName = input("New beatle name? ")
  beatles.append(beatlesName)
print("Step 3:", beatles)

# step 4
del beatles[3:5]
print("Step 4:", beatles)

# step 5
beatles.insert(0, "Ringo Star")
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

In [ ]:
my_list = [1, None, True, "I am a string", 256, 0]
print(my_list[3]) #outputs: I am a string
print(my_list[-1]) #outputs: 0

my_list[1] = '?'

print(my_list) # outputs: [1, '?', True, 'I am a string', 256, 0]

my_list.insert(0, "first")
my_list.append("last")
print(my_list) # outputs: ['first', 1, '?', True, 'i am string', 256, 0, 'last']

I am a string
0
[1, '?', True, 'I am a string', 256, 0]
['first', 1, '?', True, 'I am a string', 256, 0, 'last']

In [ ]:
my_list = [1, 2, 3, 4]
del my_list[2]
print(my_list)

del my_list

[1, 2, 4]

In [ ]:
my_list = ["white", "purple", "blue", "yellow", "green"]

for color in my_list:
  print(color)

white
purple
blue
yellow
green

In [ ]:
my_list = ["white", "purple", "blue", "yellow", "green"]

print(len(my_list))

del my_list[2]

print(len(my_list))

5
4

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
del lst[0]
lst.append(1)

print(lst)

[6, 2, 3, 4, 5, 1]

In [ ]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0

for number in lst:
  add += number
  lst_2.append(add)

print(lst_2)

[1, 3, 6, 10, 15]

In [ ]:
lst = []
del lst
print(lst)

In [ ]:
lst = [1, [2, 3], 4]
print(lst[1])
print(len(lst))

[2, 3]
3

In [ ]:
my_list = [8, 10, 6, 2, 4] # list to sort

for i in range(len(my_list) - 1): # we need (5 - 1) comparisons
  if my_list[i] > my_list[i + 1]: # compare adjacent elements
    my_list[i], my_list[i +1] = my_list[i + 1], my_list[i] #If we end up here

In [ ]:
my_list = [8, 10, 6, 2, 4] # list sort
swapped = True # It's a little fake, we need it to enter the while loop

while swapped:
  swapped = False # no swaps so far
  for i in range(len(my_list) - 1):
    if my_list[i] > my_list[i + 1]:
      swapped = True # a swap ocurred!
      my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
my_list= [8, 10, 6, 2, 4]
my_list.sort()
print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
my_list = []
swapped = True
num = int(input("How many elements do you want to sort: "))

for i in range(num):
    val = float(input("Enter a list element: "))
    my_list.append(val)

while swapped:
    swapped = False
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
          swapped = True
          my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print("\nSorted:")
print(my_list)

In [ ]:
lst = [5, 3, 1, 2, 4]
print(lst)

lst.sort()
print(lst) # outputs [1, 2, 3, 4, 5]

[5, 3, 1, 2, 4]
[1, 2, 3, 4, 5]

In [ ]:
lst = [5, 3, 1, 2, 4]
print(lst)

lst.reverse()
print(lst)  #outputs [4, 2, 1, 3, 5]

[5, 3, 1, 2, 4]
[4, 2, 1, 3, 5]

In [ ]:
lst = ["D", "F", "A", "Z"]
lst.sort()

print(lst)

['A', 'D', 'F', 'Z']

In [ ]:
a = 3
b = 1
c = 2

lst = [a, c, b]
lst.sort()

print(lst)

[1, 2, 3]

In [ ]:
a = "A"
b = "B"
c = "C"
d =" "
lst = [a, b, c, d]
lst.reverse()

print(lst)

[' ', 'C', 'B', 'A']

In [ ]:
list_1 = [1]
list_2 = list_1
list_1[0] = 2
print(list_2)

[2]

In [ ]:
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

In [ ]:
my_list[start:end]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[8, 6]

In [ ]:
# Copying the entire list
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

# Copying some part of the list.
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[1]
[8, 6]

In [ ]:
my_list[start:end]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:-1]
print(new_list)

[8, 6, 4]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[-1:1]
print(new_list)

[]

In [ ]:
my_list[:end] = my_list[0:end]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:3]
print(new_list)

[10, 8, 6]

In [ ]:
my_list[start:] = my_list[start:len(my_list)]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[3:]
print(new_list)

[4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:]
print(new_list)

[10, 8, 6, 4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list[1:3]
print(my_list)

[10, 4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list[:]
print(my_list)

[]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list
print(my_list)

In [ ]:
my_list = [0, 3, 12, 8, 2]
print(5 in my_list)
print(5 not in my_list)
print(12 in my_list)

False
True
True

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in range(1, len(my_list)):
  if my_list[i] > largest:
    largest = my_list[i]

print(largest)

17

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in my_list:
  if i > largest:
    largest = i

print(largest)

17

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in my_list[1:]:
  if i > largest:
    largest = i

print(largest)

17

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 6
found = False

for i in range(len(my_list)):
  found = my_list[i] == to_find
  if found:
    break

if found:
  print("Elemente found at index", i)

else:
  print("absent")

Elemente found at index 5

In [ ]:
draw = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0

for number in bets:
  if number in draw:
    hits += 1

print(hits)

4

In [ ]:
my_list = [1, 2, 4, 4, 1, 4, 2, 6, 2, 9]
new_list = my_list[2:9]

for i in my_list:
  if i in new_list:
    del my_list[i]

print("The list with unique elements only:")
print(my_list)

The list with unique elements only
[1, 4, 6, 2, 9]

In [ ]:
vehicles_one = ["car", "bicycle", "motor"]
print(vehicles_one) # outputs ['car', 'bicycle', 'motor']

vehicles_two = vehicles_one
del vehicles_one[0] # delete 'car'
print(vehicles_two) # outputs: ['bicycle', 'motor']

['car', 'bicycle', 'motor']
['bicycle', 'motor']

In [ ]:
color = ['red', 'green', 'orange']

print(color)

copy_whole_colors = color[:] # copy the entire list
copy_part_colors = color[0:2] # copy part of the list

print(copy_whole_colors)
print(copy_part_colors)

['red', 'green', 'orange']
['red', 'green', 'orange']
['red', 'green']

In [ ]:
sample_list = ["A", "B", "C", "D", "E"]
new_list = sample_list[2:-1]
print(new_list) # outputs: ['C', 'D']

['C', 'D']

In [ ]:
my_list = [1, 2, 3, 4, 5]
slice_one = my_list[2:]
slice_two = my_list[:2]
slice_three = my_list[-2:]

print(slice_one)
print(slice_two)
print(slice_three)

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[0:2]
print(my_list)

del my_list[:]
print(my_list)

[3, 4, 5]
[]

In [ ]:
my_list = ["A", "B", 1, 2]
print("A" in my_list)
print("C" not in my_list)
print(2 not in my_list)

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2[0]

print(list_3)

['C']

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2

print(list_3)

['B', 'C']

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2[:]

print(list_3)

[]

In [ ]:
list_1 = ["A", "B", "C"]
list_2 =list_1[:]
list_3 = list_2[:]

del list_1[0]
del list_2[0]

print(list_3)

['A', 'B', 'C']

In [ ]:
my_list = [1, 2, "in", True, "ABC"]

print(1 in my_list)  # outputs True
print("A" not in my_list)  # outputs True
print(3 not in my_list)  # outputs True
print(False in my_list)  # outputs False

True
True
True
False

In [ ]:
row = []

for i in range (8):
  row.append(WHITE_PAWN)

In [ ]:
x = int(input("Square: "))
squares = [x ** 2 for x in range(10)]

print(squares)

Square: 2
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
x = int(input("Indique um numero: "))
twos = [2 ** i for i in range (8)]

print(twos)

Indique um numero: 32
[1, 2, 4, 8, 16, 32, 64, 128]

In [ ]:
x = int(input("Indique um numero: "))
odds = [x for x in squares if x % 2 !=0]

print(odds)

Indique um numero: 29
[1, 9, 25, 49, 81]

In [ ]:
board = []

for i in range(8):
  row = [EMPTY for i in range(8)]
  board.append(row)

In [ ]:
board = [[EMPTY for i in range(8)] for j in range(8)]

In [ ]:
EMPTY = "-"
ROOK = "ROOK"
KNIGHT = "KNIGHT"
PAWN = "PAWN"
board = []

for i in range(8):
  row = [EMPTY for i in range (8)]
  board.append(row)

board[0][0] = ROOK
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK
board[4][2] = KNIGHT
board[3][4] = PAWN

print(board)

In [ ]:
temps = [[25.5 for h in range(24)] for d in range(31)]

# Preenchendo a matriz com valores hipotéticos (por exemplo, temperaturas em Celsius)
for day in temps:
    for hour in range(24):
        # Suponha que estamos atribuindo valores fixos para fins ilustrativos
        day[hour] = 25.5  # Temperatura constante de 25.5 graus Celsius

total = 0.0

for day in temps:
    total += day[11]  # Somando as temperaturas ao meio-dia (índice 11)

average = total / 31

print("Average temperature at noon:", average)

Average temperature at noon: 25.5

In [ ]:
import random
temps = [[25.5 for h in range(24)] for d in range(31)]

# Atualize a matriz com valores hipotéticos (por exemplo, temperaturas em Celsius)
for day in temps:
    for hour in range(24):
        # Suponha que estamos atribuindo valores fixos para fins ilustrativos
        day[hour] = random.uniform(10.0, 30.0)  # Intervalo de 10 a 30 graus Celsius

highest = max(max(day) for day in temps)

print("The highest temperature was:", highest)

The highest temperature was: 29.98734870175227

In [ ]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]

rooms[1][9][13] = True

print(rooms)

[[[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]]]

In [ ]:
cubed = [num ** 3 for num in range(5)]
print(cubed) # outputs : [0, 1, 8, 27, 64]

[0, 1, 8, 27, 64]

In [ ]:
table = [[":(", ":)", ":(", ":)"],
         [":)", ":(", ":)", ":)"],
         [":(", ":)", ":)", ":("],
         [":)", ":)", ":)", ":("]]

#print(table)
print(table[0][0])
print(table[0][3])

:(
:)

In [ ]:
# Cube - a three-dimensional array (3x3x3)

cube = [[[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':(', 'x', 'x']],

        [[':)', 'x', 'x'],
         [':(', 'x', 'x'],
         [':)', 'x', 'x']],

        [[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':)', 'x', 'x']]]

#print(cube)
print(cube[0][0][0])

[[[':(', 'x', 'x'], [':)', 'x', 'x'], [':(', 'x', 'x']], [[':)', 'x', 'x'], [':(', 'x', 'x'], [':)', 'x', 'x']], [[':(', 'x', 'x'], [':)', 'x', 'x'], [':)', 'x', 'x']]]

In [ ]:
print("Enter a value: ")
a = int(input())

print("Enter a value:")
b = int(input())

print("Enter a value:")
c = int(input())

In [ ]:
def my_function():
  # Function body

In [ ]:
def massage(): #Invocation
  print("Enter next value:") #retunr

print("We start here:")
message() # Invocation
print("the end is here:")

In [ ]:
print("We start here.")
message()
print("We end here.")


def message():
    print("Enter a value: ")

We start here.

NameError: ignored

In [ ]:
def message():
    print("Enter a value: ")

message = 1

In [ ]:
print("We start here.")


def message():
    print("Enter a value: ")

message()

print("We end here.")

We start here.
Enter a value:
We end here.

In [ ]:
def message():
    print("Enter a zelele: ")

message()
a = int(input())
message()
b = int(input())
message()
c = int(input())

In [ ]:
def your_function():#optinional parameters
  # The body of the function

In [ ]:
def message(): # defining a funtction
  print("Hello")

message() # Calling the function

In [ ]:
def hello(name): # defining a function
  print("Hello", name) # Body of the function

name = input("Enter your name:")

hello(name) #  Calling the function

Enter your name:Vitor
Hello Vitor

In [ ]:
def hi():
    print("hi")

hi(5)

In [ ]:
def message(number):
  print("Enter a number:", number)

message()

TypeError: ignored

In [ ]:
def message(number):
  print("Enter a number:", number)

message(1)

Enter a number: 1

In [ ]:
def message(number):
  print("Enter a number:", number)

number = 1234
message(1)
print(number)

Enter a number: 1
1234

In [ ]:
def message(what, number):
  print("Enter", what, "number", number)

# Invoke the function
message("Telephone", 11)
message("price", 5)
message("number", "number")
message("zebedeu", 61616161)
message("dariusdre", "zelele")

Enter Telephone number 11
Enter price number 5
Enter number number number
Enter zebedeu number 61616161
Enter dariusdre number zelele

In [ ]:
def my_function(a, b, c):
  print(a, b, c)

my_function(1, 2, 3)

1 2 3

In [ ]:
def introduction(first_name, last_name):
  print("Hello, my name is", first_name, last_name)

introduction("Ze", "lele")
introduction("Dr","Drew")
introduction("Dur","Val")

Hello, my name is Ze lele
Hello, my name is Dr Drew
Hello, my name is Dur Val

In [ ]:
def introduction(first_name, last_name):
  print("Hello my name is:", first_name, last_name)

introduction("al","mossar")
introduction("Ben", "ge")
introduction("asteion", "Sama")

Hello my name is: al mossar
Hello my name is: Ben ge
Hello my name is: asteion Sama

In [ ]:
def introduction(first_name, last_name):
  print("hello, my name is:", first_name, last_name)

introduction(first_name = "Jaja", last_name = "Toba")
introduction(last_name = "Maria", first_name = "Jose")

hello, my name is: Jaja Toba
hello, my name is: Jose Maria

In [ ]:
def introduction(first_name, last_name):
  print("Hello, my name is", first_name, last_name)
# wrong form
introduction(surname = "pinga", first_name = "Ni mim")

In [ ]:
def adding(a, b, c):
  print(a, "+", b, "+", c, "=", a + b + c)
# Call the adding function here
adding(1, 2, 3)
adding(c = 2, a = 3, b = 1)
adding(3, c = 2, b =1)

1 + 2 + 3 = 6
3 + 1 + 2 = 6
3 + 1 + 2 = 6

In [ ]:
def introduction(first_name = "Zé", last_name = "Bedeu"):
  print("Hello, my name is:", first_name, last_name)

introduction(last_name = "chico")

Hello, my name is: Zé chico

In [ ]:
def hi(name):
  print("Hi", name)

hi("Rato")

Hi Rato

In [ ]:
def hi_all(name_1, name_2):
  print("hi", name_2)
  print("hi", name_1)

hi_all("Lindomar", "Alejo")

hi Alejo
hi Lindomar

In [ ]:
def address(street, city, postal_code):
  print("Your address is:", street, "St.,", city, postal_code)

s = input("Street: ")
p_c = input("Postal Code: ")
c = input("City: ")

address(s, c, p_c)

Street: Snt John
Postal Code: 717171
City: Massarucetes
Your address is: Snt John St., Massarucetes 717171

In [ ]:
def subtra(a, b):
  print(a - b)

subtra(5, 2) #outputs: 3
subtra(2, 5) #outputs:-3

3
-3

In [ ]:
def subtra(a, b):
  print(a - b)

subtra(a = 5, b = 2) #outputs: 3
subtra(b = 2, a = 5) #outputs: 3

3
3

In [ ]:
def subtra(a, b):
  print(a - b)

subtra(5, b = 2)
subtra(5, 2)

3
3

In [ ]:
# ERROR Syntax

def subtra(a, b):
  print(a - b)

subtra(5, b = 2)
subtra(a=5, 2)

SyntaxError: ignored

In [ ]:
def name(first_name, last_name = "lele"):
  print(first_name, last_name)

name("Zé")
name("Armando", "Pinto")

Zé lele
Armando Pinto

In [ ]:
def intro(a = "Zé da Manga", b = "da Manga"):
  print("My name is ", b + ".", a + ".")

intro()

My name is  da Manga. Zé da Manga.

In [ ]:
def intro(a = "Zé lele", b = "lele"):
  print("My name is", b + ".", a + ".")

intro(b = "Xeien-ien")

My name is Xeien-ien. Zé lele.

In [ ]:
def intro(a, b = "Cueca"):
  print("My name is", b + ".", a + ".")

intro("Zé")

My name is Cueca. Zé.

In [ ]:
#SyntaxError
def add_numbers(a, b=2, c):
    print(a + b + c)

add_numbers(a=1, c=3)

SyntaxError: ignored

In [ ]:
def happy_new_year(whishes = True):
  print("Three...")
  print("Two...")
  print("One...")
  if not whishes:
    return

  print("Happy New Year!")

happy_new_year(False)

Three...
Two...
One...

In [ ]:
def boring_function(): # Invocation
  return 123 # Return

x = boring_function() # invocation

print("The boring_function has return its result. It's:", x)

The boring_function has return its result. It's: 123

In [ ]:
def boring_function():
  print("'Boredom Mode' ON.")
  return 123

print("This lesson is interesting!")
boring_function()
print("This lesson is boring...")

This lesson is interesting!
'Boredom Mode' ON.
This lesson is boring...

In [ ]:
#TypeError
print(None + 2)

In [ ]:
value = None
if value is None:
  print("Sorry, you don't carry any value")

Sorry, you don't carry any value

In [ ]:
def strange_function(n):
  if(n % 2 == 0):
        return True
print(strange_function(2))
print(strange_function(1))

True
None

In [ ]:
def list_sum(lst):
  s = 0

  for elem in lst:
    s += elem

  return s

print(list_sum([5, 4, 3]))
#print(list_sum(5))

12

In [ ]:
def strange_list_fun(n):
  strange_list = []

  for i in range(0, n):
    strange_list.insert(0, i)

  return strange_list

print(strange_list_fun(5))

[4, 3, 2, 1, 0]

In [ ]:
def is_year_leap(year):
  if year < 1582:
    return False
  elif year % 4 != 0:
    return False
  elif year % 100 != 0:
    return True
  elif year % 400 != 0:
    return True
  else:
    return True

test_data = [1900, 2000, 2016, 1987]
test_results = [False, True, True, False]
for i in range (len(test_data)):
  yr = test_data[i]
  print(yr,"->",end="")
  result = is_year_leap(yr)
  if result == test_results[i]:
    print("OK")
  else:
    print("Failed")

1900 ->Failed
2000 ->OK
2016 ->OK
1987 ->OK

In [ ]:
def is_year_leap(year):
  if year < 1582:
    return False
  elif year % 4 != 0:
    return False
  elif year % 100 != 0:
    return True
  elif year % 400 != 0:
    return True
  else:
    return True
def days_in_month(year, month):
  month_days = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  if is_year_leap(year) and month == 2:
    if month == 2:
      return 29
  return month_days[month - 1]

test_years = [1900, 2000, 2016, 1987]
test_months = [2, 2, 1, 11]
test_results = [28, 29, 30, 31]
for i in range (len(test_years)):
  yr = test_years[i]
  mo = test_months[i]
  print(yr, mo, "->", end = "")
  result = days_in_month(yr, mo)
  if result == test_results[i]:
    print("OK")
  else:
    print("Failed")

1900 2 ->Failed
2000 2 ->OK
2016 1 ->Failed
1987 11 ->Failed

In [ ]:
def is_year_leap(year):
    if year < 1582:
      return False
    elif year % 4 != 0:
      return False
    elif year % 100 != 0:
      return True
    elif year % 400 != 0:
      return True
    else:
      return True

def days_in_month(year, month):
  month_days = [ 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
  if is_year_leap(year) and month == 2:
    if month == 2:
      return 29
  return month_days[month - 1]


def day_of_year(year, month, day):
  if year < 1582:
    return None
  if month > 12 or month < 1:
    return None
  if day > 31 or day < 1:
    return None
  total_days = day
  month = month - 1
  while month > 0:
    total_days += days_in_month(year, month)
    month -= 1

  return total_days


print(day_of_year(1500, 12, 31))

None

In [ ]:
def is_prime(num):
  divisao = 2
  while divisao < num:
    if num % divisao == 0:
      return False
    divisao += 1
  return True

for i in range(1, 20):
	if is_prime(i + 1):
			print(i + 1, end=" ")
print()

2 3 5 7 11 13 17 19

In [ ]:
def liters_100km_to_miles_gallon(liters):
  miles = 100 * 1000 / 1609.344
  gallons = liters / 3.785411784
  return miles / gallons


def miles_gallon_to_liters_100km(miles):
  liters = 3.785411784
  kilometers = miles * 1609.344 / 1000
  km100 = kilometers / 100
  return liters / km100

print(liters_100km_to_miles_gallon(3.9))
print(liters_100km_to_miles_gallon(7.5))
print(liters_100km_to_miles_gallon(10.))
print(miles_gallon_to_liters_100km(60.3))
print(miles_gallon_to_liters_100km(31.4))
print(miles_gallon_to_liters_100km(23.5))

60.31143162393162
31.36194444444444
23.52145833333333
3.9007393587617467
7.490910297239916
10.009131205673757

In [ ]:
def multiply(a, b):
  return a * b

print(multiply(3, 4)) # outputs 12

def multiply(a, b):
  return

print(multiply(3, 4)) # outputs None

12
None

In [ ]:
def wishes ():
  return "Happy Birthday!"

w = wishes()

print(w) #outputs Happy Birthday

Happy Birthday!

In [ ]:
#1

def wishes():
  print("My Wishes")
  return "Happy Birthday"

wishes()

#2
def wishes():
  print("My whishes")
  return " Happy Birthday!"

print(wishes())

My Wishes
My whishes
 Happy Birthday!

In [ ]:
def hi_everybody(my_list):
  for name in my_list:
    print("Hi", name)

hi_everybody(["Zelele", "JohnJonson", "Lucyete"])

Hi Zelele
Hi JohnJonson
Hi Lucyete

In [ ]:
def create_list(n):
  my_list = []
  for i in range(n):
    my_list.append(i)
  return my_list

print(create_list(5))

[0, 1, 2, 3, 4]

In [ ]:
def hi():
  return
  print("Hi")

hi()

In [ ]:
def is_int(data):
  if type(data) == int:
    return True
  elif type(data) == float:
    return False

print(is_int(5))
print(is_int(5.0))
print(is_int("5"))

True
False
None

In [ ]:
def even_num_lst(ran):
  lst = []
  for num in range(ran):
    if num % 2 == 0:
      lst.append(num)
  return lst

print(even_num_lst(11))

[0, 2, 4, 6, 8, 10]

In [ ]:
def list_updater(lst):
  upd_list = []
  for elem in lst:
    elem **= 2
    upd_list.append(elem)
  return upd_list

foo = [1, 2, 3, 4, 5]

print(list_updater(foo))

[1, 4, 9, 16, 25]

In [ ]:
def scope_test():
  x = 123

scope_test()
print(x)

In [ ]:
def my_function():
  var = 2
  print("Do I know that variable", var)

var = 1
my_function()
print(var)

In [ ]:
def my_function():
  global var
  var = 2
  print("Do I know that variable?", var)

var = 1
my_function()
print(var)

Do I know that variable? 2
2

In [ ]:
def my_function(n):
  print("I got", n)
  n += 1
  print("I have", n)

var = 1
my_function(var)
print(var)

I got 1
I have 2
1

In [ ]:
def my_function(my_list_1):
  print("Print #1", my_list_1)
  print("Print #2", my_list_2)
  my_list_1 = [0, 1]
  print("Print #3", my_list_1)
  print("print #4", my_list_2)

my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5", my_list_2)

Print #1 [2, 3]
Print #2 [2, 3]
Print #3 [0, 1]
print #4 [2, 3]
Print #5 [2, 3]

In [ ]:
def my_function(my_list_1):
  print("Print #1", my_list_1)
  print("Print #2", my_list_2)
  del my_list_1[0] # Pay attention to this line
  print("Print #3", my_list_1)
  print("Print #4", my_list_2)

my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5", my_list_2)

Print #1 [2, 3]
Print #2 [2, 3]
Print #3 [3]
Print #4 [3]
Print #5 [3]

In [ ]:
var = 2

def mult_by_var(x):
  return x * var


print(mult_by_var(7)) # outputs 14

14

In [ ]:
def mult(x):
  var = 5
  return x * var


print(mult(7)) # outputs 35

35

In [ ]:
def mult(x):
  var = 7
  return x * var


var = 3
print(mult(7))  # outputs: 49

In [ ]:
def adding(x):
  var = 7
  return x + var

print(adding(4))
print(var)

In [ ]:
var = 2
print(var)

def return_var():
  global var
  var = 5
  return var

print(return_var())
print(var)

2
5
5

In [ ]:
def message():
  alt = 1
  print("Hello, World!")

print(alt)

In [ ]:
a = 1

def fun():
  a = 2
  print(a)

fun()
print(a)

2
1

In [ ]:
a = 1

def fun():
  global a
  a = 2
  print(a)

fun()
a = 3
print(a)

2
3

In [ ]:
a = 1

def fun():
  global a
  a = 2
  print(a)

a = 2
fun()
print(a)

2
2

In [ ]:
tup = (1, ) + (1, )
tup = tup + tup
print(len(tup))

4

In [ ]:
def bmi(weight, height):
    if weight == 0 or height == 0:
        return None
    else:
        return weight / height ** 2

print(bmi(0.0, 0.0))

None

In [ ]:
def bmi(weight, height):
    if height < 1.0 or height > 2.5 or \
    weight < 20 or weight > 200:
      return None


    return weight / height ** 2

print(bmi(352.5, 1.65))

None

In [ ]:
def lb_to_kg(lb):
  return lb * 0.45359237

print(lb_to_kg(220))

99.79032140000001

In [ ]:
def ft_and_inch_to_m(ft, inch):
  return ft * 0.3048 + inch * 0.0254

print(ft_and_inch_to_m(6,0))

1.8288000000000002

In [ ]:
def ft_and_inch_to_m(ft, inch = 0.0):
    return ft * 0.3048 + inch * 0.0254


print(ft_and_inch_to_m(6))

1.8288000000000002

In [ ]:
def ft_and_inch_to_m(ft, inch = 0.0):
  return ft * 0.3048 + inch * 0.0254

def lb_t0_kg(lb):
  return lb * 0.45359237

def bmi(weight, height):
  if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
    return None
  return weight / height ** 2

print(bmi(weight = lb_to_kg(176), height = ft_and_inch_to_m(5, 7)))

27.565214082533313

In [ ]:
def is_a_triangle(a, b, c):
  if a + b <= c:
    return False
  if b + c <= a:
    return False
  if c + a <= b:
    return False
  return True

print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [ ]:
def is_a_triangle(a, b, c):
  if a + b <= c or b + c <= a or c + a <= b:
    return False
  return True

print(is_a_triangle(1, 1, 1))
print(is_a_triangle(1, 1, 3))

True
False

In [ ]:
def is_a_triangle(a, b, c):
  return a + b > c and b + c > a and c + a > b

a = float(input('Enter the first side\'s length: '))
b = float(input('Enter the second side\'s length: '))
c = float(input("Enter the second side's length: "))

if is_a_triangle(a, b, c):
  print("Yes, it can be a triangle.")
else:
  print("No, it can't be a triangle.")

In [ ]:
def is_a_triangle(a, b, c):
  return a + b > c and b + c > a and c + a > b

def is_a_right_triangle(a, b, c):
  if not is_a_triangle(a, b, c):
    return False
  if c > a and c > b:
    return c ** 2 == a ** 2 + b ** 2
  if a > b and a > c:
    return a ** 2 == b ** 2 + c ** 2

print(is_a_right_triangle(5, 3, 4))
print(is_a_right_triangle(1, 3, 4))

True
False

In [ ]:
def is_a_triangle(a, b, c):
  return a + b > c and b + c > a and c + a > b

a = float(input("Enter the first side's length: "))
b = float(input("Enter the second side's length: "))
c = float(input("Enter the third side's lenght: "))

if is_a_triangle(a, b, c):
  print("Yes, it can be a triangle.")
else:
  print("No, it can't be a triangle.")

In [ ]:
def is_a_triangle(a, b, c):
  return a + b > c and b + c > a and c + a > b

def heron(a, b, c):
  p = (a + b + c) / 2
  return (p * (p - a) * (p - b) * (p - c)) ** 0.5

def area_of_triangle(a, b, c):
  if not is_a_triangle(a, b, c):
    return None
  return heron(a, b, c)

print(area_of_triangle(1., 1., 2. ** .5))

In [ ]:
def factorial_function(n):
  if n < 0:
    return None
  if n < 2:
    return 1

  product = 1
  for i in range (2, n + 1):
    product *= i
  return product

for n in range(1, 7):  # testing
    print(n, factorial_function(n))

In [ ]:
def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1

    elem_1 = elem_2 = 1
    the_sum = 0
    for i in range(3, n + 1):
        the_sum = elem_1 + elem_2
        elem_1, elem_2 = elem_2, the_sum
    return the_sum


for n in range(1, 10):  # testing
    print(n, "->", fib(n))

In [ ]:
# Recursividade
def factorial(n):
  if n == 1: # The base case (condição)
    return 1
  else:
    return n * factorial (n - 1)
print(factorial(4)) # 4 * 3 * 2 * 1 = 24

In [ ]:
def factorial(n):
    return n * factorial(n - 1)
   # não tem condição de terminação

print(factorial(4))

In [ ]:
def fun(a):
  if a > 30:
    return 3
  else:
    return a + fun( a + 3)

print(fun(25))

In [ ]:
tuple_1 = (1, 2, 3, 8)
tuple_2 = 1., .5, .25, .125

print(tuple_1)
print(tuple_2)

(1, 2, 3, 8)
(1.0, 0.5, 0.25, 0.125)

In [ ]:
my_tuple = (1, 10, 100, 1000)

print(my_tuple[0])
print(my_tuple[-1])
print(my_tuple[1:])
print(my_tuple[:-2])


for elem in my_tuple:
  print(elem)

In [ ]:
my_tuple = (1, 10, 100)
t1 = my_tuple + (1000, 10000)
t2 = my_tuple * 3

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

In [ ]:
var = 123

t1 = (1, )
t2 = (2, )
t3 = (3, var)

t1, t2, t3 = t2, t3, t1

print(t1, t2, t3)

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_numbers = {"boss": 5551234567, "suzie": 555765432}
empty_dictionary = {}

print(dictionary)
print(phone_numbers)
print(empty_dictionary)

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
phone_number = {'boss': 5551234567, 'Suzy': 22657854310}
empty_dictionary = {}

print(dictionary['cat'])
print(phone_number['Suzy'])

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "chavel"}
words = ['cat', 'cow', 'horse']

for word in words:
  if word in dictionary:
    print(word, "->", dictionary[word])
  else:
    print(word, "is not in dictionary")

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "chavel"}

for key in dictionary.keys():
  print(key, "->", dictionary[key])

In [ ]:
def fun(x, y, z):
    return x + 2 * y + 3 * z


print(fun(0, z=1, y=3))

9

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "chavel"}

for english, french in dictionary.items():
  print(english, "->", french)

cat -> chat
dog -> chien
horse -> chavel

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary['cat'] = 'minou'
print(dictionary)

{'cat': 'minou', 'dog': 'chien', 'horse': 'cheval'}

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary['swan'] = 'cygne'
print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'swan': 'cygne'}

In [ ]:
dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}

dictionary.update({"duck": "canard"})
print(dictionary)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval', 'duck': 'canard'}

In [ ]:
school_class = {}

while True:
  name = input("Enter the student's name: ")
  if name == '':
    break

  score = int(input("Enter the student's score (0-10): "))
  if score not in range(0, 11):
    break

  if name in school_class:
    school_class[name] += (score,)
  else:
    school_class[name] = (score,)

for name in sorted(school_class.keys()):
  adding = 0
  counter = 0
  for score in school_class[name]:
    adding += score
    counter += 1
  print(name, ":", adding / counter)

In [ ]:
my_tuple = (1, 2, True, "a string", (3, 4), [5, 6], None)

print(my_tuple)

my_list = [1, 2, True, "a string", (3, 4), [5, 6], None]

print(my_list)

In [ ]:
empty_tuple = ()

print(type(empty_tuple))

<class 'tuple'>

In [ ]:
one_elem_tuple = ("one",)
one_elem_tuple = "one",

print(one_elem_tuple)

('one',)

In [ ]:
my_tuple_1 = 1,
print(type(my_tuple_1))

my_tuple_2 = 1
print(type(my_tuple_2))

<class 'tuple'>
<class 'int'>

In [ ]:
my_tuple = (1, 2.0, "string", [3, 4], (5, ), True)

print(my_tuple[3])

[3, 4]

In [ ]:
# The TypeError exception will be raised.
my_tuple (1, 2.0, [3, 4], (5, 0), True)
my_tuple[2] = "guitar"

In [ ]:
# NameError: name 'my_tuple' is not defined
my_tuple = (1, 2, 3)

del my_tuple

print(my_tuple)

In [ ]:
# example 1
tuple_1 = (1, 2, 3)
for elem in tuple_1:
  print(elem)

1
2
3

In [ ]:
# example 2
tuple_2 = (1, 2, 3, 4)

print(5 in tuple_2)
print(5 not in tuple_2)

False
True

In [ ]:
# example 3
tuple_3 = (1, 2, 3, 5)
print(len(tuple_3))

4

In [ ]:
# example 4
tuple_1 = (1, 2, 3, 7)
tuple_2 = (3, 5, 9)
tuple_3 = (1, 3, 5, 8)
tuple_4 = tuple_1 + tuple_2
tuple_5 = tuple_3 * 2
print(tuple_4)
print(tuple_5)

(1, 2, 3, 7, 3, 5, 9)
(1, 3, 5, 8, 1, 3, 5, 8)

In [ ]:
my_tuple = tuple((1, 2, "string"))

print(my_tuple)

my_list = [2, 4, 6]
print(my_list)
print(type(my_list))
tup = tuple(my_list)
print(tup)
print(type(tup))

In [ ]:
tup = 1, 2, 3
my_list = list(tup)
print(type(my_list))

<class 'list'>

In [ ]:
my_dictionary = {
    key1: value1,
    key2: value2,
    key3: value3,
}

In [ ]:
pol_eng_dictionary = {
    "kwiat": "flower",
    "woda": "water",
    "gleba": "sofi",
}

item_1 = pol_eng_dictionary["gleba"]
print(item_1)

item_2 = pol_eng_dictionary.get("woda")
print(item_2)

sofi
water

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil",
}

pol_eng_dictionary["zamek"] = "lock"
item = pol_eng_dictionary["zamek"]
print(item)

In [ ]:
phonebook = {}

phonebook["Adam"] = 3456783958
print(phonebook)

del phonebook["Adam"]
print(phonebook)

{'Adam': 3456783958}
{}

In [ ]:
my_dictionary = {
    key1: value1,
    key2: value2,
    key3: value3,
}

In [ ]:
pol_eng_dictionary = {
    "kwiat": "flower",
    "woda": "water",
    "gleba": "soil",

}

item_1 = pol_eng_dictionary["gleba"]
print(item_1)

item_2 = pol_eng_dictionary.get("woda")
print(item_2)

soil
water

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil",
}

pol_eng_dictionary["zamek"] = "lock"
item = pol_eng_dictionary["zamek"]

print(item)

lock

In [ ]:
phonebook = {}
phonebook["Adam"] = 4567839538

print(phonebook)

del phonebook["Adam"]
print(phonebook)

{'Adam': 4567839538}
{}

In [ ]:
pol_eng_dictionary = {"kwiat": "flower"}

pol_eng_dictionary.update({"gleba": "soil"})
print(pol_eng_dictionary)

pol_eng_dictionary.popitem()
print(pol_eng_dictionary)

{'kwiat': 'flower', 'gleba': 'soil'}
{'kwiat': 'flower'}

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for item in pol_eng_dictionary:
    print(item)

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

for key, value in pol_eng_dictionary.items():
    print("Pol/Eng ->", key, ":", value)

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
}

if "zamek" in pol_eng_dictionary:
  print("YYYYYEEEESSS")

else:
  print("Nonononononono")

YYYYYEEEESSS

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
}

print(len(pol_eng_dictionary))

del pol_eng_dictionary["zamek"]

print(len(pol_eng_dictionary))

pol_eng_dictionary.clear()

print(len(pol_eng_dictionary))

del pol_eng_dictionary

In [ ]:
pol_eng_dictionary = {
    "zamek": "castle",
    "woda": "water",
    "gleba": "soil"
    }

copy_dictionary = pol_eng_dictionary.copy()

Tupla

In [ ]:
my_tup = (1, 2, 3)

print(my_tup[2])

3

In [ ]:
tup = 1, 2, 3
a, b, c = tup

print(a * b * c)

6

In [ ]:
tup = 1, 2, 3, 2, 4, 5, 6, 2, 7, 2, 8, 9
duplicates = tup.count(2)

print(duplicates)

4

In [ ]:
d1 = {'Adam Smith': 'A', 'Judy Paxton': 'B+'}
d2 = {'Mary Louis': 'A', 'Patrick White': 'C'}
d3 = {}

for item in (d1, d2):
  d3.update(item)

print(d3)

{'Adam Smith': 'A', 'Judy Paxton': 'B+', 'Mary Louis': 'A', 'Patrick White': 'C'}

In [ ]:
my_list = ["car", "ford", "flower", "Tulip"]

t = tuple(my_list)

print(t)

('car', 'ford', 'flower', 'Tulip')

In [ ]:
colors = (("green", "#008000"), ("blue", "#000FF"))

colors_dictionary = dict(colors)

print(colors_dictionary)

{'green': '#008000', 'blue': '#000FF'}

In [ ]:
my_dictionary = {"A": 1, "B": 2}

copy_my_dictionary = my_dictionary.copy()

my_dictionary.clear()

print(copy_my_dictionary)

{'A': 1, 'B': 2}

In [ ]:
colors = {
    "white": (255, 255, 255),
    "grey": (128, 128, 128),
    "red": (255, 0, 0),
    "green": (0, 128, 0)
}

for col, rgb in colors.items():
  print(col, ":", rgb)

In [ ]:
import math


def sin(x):
    if 2 * x == pi:
        return 0.99999999
    else:
        return None


pi = 3.14

print(sin(pi/2))
print(math.sin(math.pi/2))

0.99999999
1.0

In [ ]:
from math import pi
print(math.e)
print(math.pi)

In [ ]:
from math import sin, pi

print(sin(pi/2))

1.0

In [ ]:
from math import sin, pi

print(sin(pi / 2))

pi = 3.14


def sin(x):
    if 2 * x == pi:
        return 0.99999999
    else:
        return None


print(sin(pi / 2))

In [ ]:
pi = 3.14

def sin (x):
  if 2 * x == pi:
    return 0.9999999
  else:
    return None

print(sin (pi / 2))

from math import sin, pi

print(sin(pi / 2))

In [ ]:
import math as m

print(m.sin(m.pi/2))

In [ ]:
from module import name as alias

In [ ]:
from module import my_function, my_data

result = my_function(my_data)

In [ ]:
from module import my_function as fun, my_data as data

result = fun(dat)

In [ ]:
import mint

mint.make_money()

In [ ]:
from mint import make_money

make_money()

In [ ]:
import mod1 # correto

import mod2, mod3, mod4 # Funciona mas não é recomendada

In [ ]:
# forma correta e padrão
import mod1
import mod2
import mod3

In [ ]:
# notação de ponto para prefixar o nome da entidade

import my_module
result my_module.my_function(my_module.my_data)

In [ ]:
from module import my_function, my_data

result = my_function(my_data)
# Forma não recomendada pois pode gerar conflitos com nomes derivados

In [ ]:
# Forma geral de declaração de todas as entidades de um módulo
from my_module import *

result = my_function(my_data)

# Forma não recomendada altas chances de gerar conflito

In [ ]:
# gerando aliases
from module import my_function as fun, my_data as dat

result = fun(dat)

In [ ]:
import mint

mint.make_money()

In [ ]:
from mint import make_money

make_money()

In [ ]:
from mint import make_money as make_more_money

In [ ]:
from mint import *

make_money()

In [ ]:
from math import pi, radians, degrees, sin, cos, tan, asin

ad = 90
ar = radians(ad)
ad = degrees(ar)

print(ad == 90.)
print(ar == pi / 2.)
print(sin(ar) / cos(ar) == tan(ar))
print(asin(sin(ar)) == ar)

In [ ]:
from math import e, exp, log

print(pow(e, 1)) == exp(log((e)))
print(pow(2, 2)) == exp(2 * log((2)))
print(log(e, e) == exp(0))

2.718281828459045
4
True

In [ ]:
from math import ceil, floor, trunc

x = 1.4
y = 2.6

print(floor(x), floor(y))
print(floor(-x), floor(-y))

1 2
-2 -3

In [ ]:
from random import randrange, randint

print(randrange(1), end=' ')
print(randrange(0, 1), end=' ')
print(randrange(0, 1, 1), end=' ')
print(randint(0, 1))

0 0 0 0

In [ ]:
from random import randint

for i in range(10):
  print(randint(1, 10), end=",")

5,5,1,1,9,5,3,9,6,5,

String

In [ ]:
# Example 1
word = "by"
print(len(word))

2

In [ ]:
#Example 2
empty = ""
print(len(empty))

0

In [ ]:
#example 3
i_am = 'I\'m'
print(len(i_am))

3

In [ ]:
multiline = '''Line#1
Line2 '''
print(len(multiline))

13

In [ ]:
str1 = 'a'
str2 = 'b'

print(str1+str2)
print(str2+str1)
print(5*'a')
print('b' * 4)

ab
ba
aaaaa
bbbb

In [ ]:
# Demonstrating the ord() function.

char_1 = 'α'
char_2 = ' ' #space
print(ord(char_1))
print(ord(char_2))

945
32

In [ ]:
# Demonstrating the chr() function.

print(chr(97))
print(chr(33))

a
!

In [ ]:
# Indexing strings.

the_string = 'silly walks'

for ix in range(len(the_string)):
    print(the_string[ix], end=' ')

print()

s i l l y   w a l k s

In [ ]:
# Slices
alpha = "abdefg"

print(alpha[1:3])
print(alpha[3:])

bd
efg

In [ ]:
#operadores in e not in

alphabet = "abcdefghijklmnopqrstuvwxyz"

print("f" in alphabet)
print("F" in alphabet)
print("E" not in alphabet)

True
False
True

In [ ]:
#Strings são imutaveis em python
alphabet = "abcdefghijklmnopqrstuvwxyz"

print(alphabet)

abcdefghijklmnopqrstuvwxyz

In [ ]:
# Example 1

word = 'by'
print(len(word))

1

In [ ]:
# Example 2

empty = ''
print(len(empty))

0

In [ ]:
# Example 3

i_am = 'I\'m'
print(len(i_am))

3

In [ ]:
multiline = '''Line #1
Line #2'''

print(len(multiline))

15

In [ ]:
str1 = 'a'
str2 = 'b'

print(str1 + str2)
print(str2 + str1)
print(5 * 'a')
print('b' * 4)

ab
ba
aaaaa
bbbb

In [ ]:
# Demonstrating the ord() function.

char_1 = 'a'
char_2 = ' '  # space

print(ord(char_1))
print(ord(char_2))

97
32

In [ ]:
# Demonstrating the chr() function.

print(chr(97))
print(chr(945))

a
α

In [ ]:
# indexing strings.

the_string = 'silly walks'

for ix in range (len(the_string)):
  print(the_string[ix], end=' ')


print()

s i l l y   w a l k s

In [ ]:
# interating through a string

the_string = 'silly walks'

for character in the_string:
  print(character, end='**')

print()

s**i**l**l**y** **w**a**l**k**s**

In [ ]:
alphabet = 'bcdefghijklmnopqrstuvwxy'

alphabet = "a" + alphabet
alphabet = alphabet + "z"

print(alphabet)

abcdefghijklmnopqrstuvwxyz

In [ ]:
# Demonstrating min() - Example 1:
print(min("aAbByYzZ"))

A

In [ ]:
# Demonstrating min() - Examples 2 &amp; 3:
t = 'The Knights Who Say "Ni!"'
print('[' + min(t) + ']')

[ ]

In [ ]:
t = [0,1,2]
print(min(t))

0

In [ ]:
# Demonstrating max() - Example 1:
print (max("aAbByYzZ"))

z

In [ ]:
# Demonstrating max() - eXAMPLE 2 &AM; 3:
t = 'The Knights who Say "Ni!"'
print('[' + max(t) + ']')

[y]

In [ ]:
t = [0, 1, 2]
print(max(t))

2

In [ ]:
# Demonstrating the index() method:
print("aAbByYzZaA".index("b"))
print("aAbByYzZaA".index("Z"))
print("aAbByYzZaA".index("A"))

2
7
1

In [ ]:
# Demonstrating the list() function:
print(list("abcabc"))

['a', 'b', 'c', 'a', 'b', 'c']

In [ ]:
# Demonstrating the count() method:
print("abcabc".count("b"))
print("abcabc".count("d"))

2
0

In [ ]:
# Demonstring the capitalize() method:
print('aBcD'.capitalize())

Abcd

In [ ]:
# Demonstring 2 the capitalize() method:
print("Alpha".capitalize())
print("123".capitalize())
print("ALPHA".capitalize())

Alpha
123
Alpha

In [ ]:
# Demonstring the center() method:

print('[' + 'alpha'.center() + ']')

[     alpha     ]

In [ ]:
# Demonstring the endswith() method:
if "epsilon".endswith("on"):
  print("Yes")
else:
  print("No")

No

In [ ]:
# Demonstring the find() method:
print("Eta".find("ta"))
print("Eta".find("mma"))

1
-1

In [ ]:
# Demonstrating the isalnum() method:
print("lambda30".isalnum())
print('lambda'.isalnum())
print("30".isalnum())
print('@'.isalnum())
print(''.isalnum())

True
True
True
False
False

In [ ]:
# Example 1: Demonstrating the isapha() method:
print("Mooo".isalpha())
print("mu40".isalpha())

True
False

In [ ]:
#Example 2
print('2018'.isdigit())
print('Year2019'.isdigit())

True
False

In [ ]:
#Example 1: Demonstrating the islower()
print("Mooo".islower())
print("mooo".islower())

False
True

In [ ]:
#example 2: Demostrating the isspace()
print(' \n '.isspace())
print(" ".isspace())
print("moo oo ooo".isspace())

True
True
False

In [ ]:
#Example 3: Demonstrating the isupper()
print("Mooo".isupper())
print('mooo'.isupper())
print('MOOO'.isupper())

False
False
True

In [ ]:
# Demonstrating the join() method:
print(",".join(["omicron", "pi", "rho"]))

omicron,pi,rho

In [ ]:
#Demonstrating the lower() method:
print("SiGmA=60".lower())

sigma=60

In [ ]:
# Demonstrating the lstrip() method:
print("[" + " tau ".lstrip() + "]")

[tau ]

In [ ]:
# Example2 lstrip:
print("www.cisco.com".lstrip("w."))

cisco.com

In [ ]:
# Demonstrating the replace() method:
print("www.netacad.com".replace("netacad.com", "pythoninstitute.org"))

www.pythoninstitute.org

In [ ]:
#Example 2:
print("This is it!".replace("is", "are"))

Thare are it!

In [ ]:
# Example 3:
print("Apple juice".replace("juice", ""))

Apple

In [ ]:
# Demonstrating the lower() method:
print("SiGmA=60".lower())

In [ ]:
# Demonstrating the rfind() method:
print("tau tau tau".rfind("ta"))
print("tau tau tau".rfind("ta", 9))
print("tau tau tau".rfind("ta", 3, 9))

8
-1
4

In [ ]:
# Demonstrating the rstrip() method:

print("[" + " upsiolon ".rstrip() +"]")

print("cisco.com".rstrip(".com"))

[ upsiolon]
cis

In [ ]:
# Demonstrating the split() method:
print("pi       chi\npsi".split())

['pi', 'chi', 'psi']

In [ ]:
# Demonstrating the startswitch()
print("omega".startswith("meg"))
print("omeg".startswith("om"))

False
True

In [ ]:
# Demostrating the strip() method:
print("[" + "  Aleph  ".strip() + "]")

[Aleph]

In [ ]:
# Demonstrating the swapcase() method:

print("I know that I know nothing".swapcase())

i KNOW THAT i KNOW NOTHING

In [ ]:
# Demostrating the title() method:

print("I know that I know nothing".title())

I Know That I Know Nothing

In [ ]:
for ch in "abc123XYX":
  if ch.isupper():
    print(ch.lower(), end='')
  elif ch.islower():
    print(ch.upper(), end='')
  else:
    print(ch, end='')

ABC123xyx

In [ ]:
s1 = 'Where are the snows of yesteryear?'
s2 = s1.split()
print(s2[-2])

of

In [ ]:
the_list = ['Where', 'are', 'the', 'snows?']
s = '*'.join(the_list)
print(s)

Where*are*the*snows?

In [ ]:
s = 'It is either easy or impossible'
s = s.replace('easy', 'hard').replace('im', '')
print(s)

It is either hard or possible

In [ ]:
def mysplit(strng):
    words = []
    current_word = ""
    for char in strng:
        if char != " ":
            current_word += char
        elif current_word:
            words.append(current_word)
            current_word = ""
    if current_word:
        words.append(current_word)
    return words
print(mysplit("To be or not to be, that is the question"))
print(mysplit("To be or not to be,that is the question"))
print(mysplit(' '))
print(mysplit(" abc "))
print(mysplit(""))

['To', 'be', 'or', 'not', 'to', 'be,', 'that', 'is', 'the', 'question']
['To', 'be', 'or', 'not', 'to', 'be,that', 'is', 'the', 'question']
[]
['abc']
[]

In [ ]:
'alpha' == 'alpha'
'alpha' != 'Alpha'

True

In [ ]:
'alpha' < 'alphabet'

True

In [ ]:
'beta' > 'Beta'

True

In [ ]:
'10' == '010'
'10' > '010'

True

In [ ]:
# Demonstrating the sorted() function:

first_greek = ['omega', 'alfa', 'pi', 'gamma']
first_greek2 = sorted(first_greek)

print(first_greek)
print(first_greek2)

print()

['omega', 'alfa', 'pi', 'gamma']
['alfa', 'gamma', 'omega', 'pi']

In [ ]:
# Demonstrating the sort() method:
second_greek = ['omega', 'alpha', 'pi', 'gamma']

print(second_greek)

second_greek.sort()
print(second_greek)

['omega', 'alpha', 'pi', 'gamma']
['alpha', 'gamma', 'omega', 'pi']

In [ ]:
# Função str():
itg = 13
flt = 1.3
si = str(itg)
sf = str(flt)

print(si + " " + sf)

13 1.3

In [ ]:
si = '13'
sf = '1.3'
itg = int(si)
flt = float(sf)

print(itg + flt)

14.3

In [ ]:
'smith' > 'Smith'

True

In [ ]:
'Smith' < 'Smith'

False

In [ ]:
'Smith' > '1000'

True

In [ ]:
'11' < '8'

True

In [ ]:
s1 = 'Where are the snows of yesteryear?'
s2 = s1.split()
s3 = sorted(s2)
print(s3[1])

are

In [ ]:
s1 = '12.8'
i = int(s1)
s2 = str(i)
f = float(s2)
print(s1 == s2)

In [ ]:
# Define os caracteres que representam cada LED para cada dígito
leds = {
    0: [' _ ', '| |', '|_|', '   '],  # 0
    1: ['   ', '  |', '  |', '   '],  # 1
    2: [' _ ', ' _|', '|_ ', '   '],  # 2
    3: [' _ ', ' _|', ' _|', '   '],  # 3
    4: ['   ', '|_|', '  |', '   '],  # 4
    5: [' _ ', '|_ ', ' _|', '   '],  # 5
    6: [' _ ', '|_ ', '|_|', '   '],  # 6
    7: [' _ ', '  |', '  |', '   '],  # 7
    8: [' _ ', '|_|', '|_|', '   '],  # 8
    9: [' _ ', '|_|', ' _|', '   ']   # 9
}

# Função para converter um número inteiro em uma lista de dígitos
def convert_to_digits(num):
    digits = []
    if num == 0:
        return [0]
    while num:
        digits.append(num % 10)
        num //= 10
    return digits[::-1]

# Função para exibir um número inteiro em um display de sete segmentos
def display_number(number):
    digits = convert_to_digits(number)
    for i in range(4):  # Há 4 linhas para cada dígito
        for digit in digits:
            print(leds[digit][i], end=' ')
        print()

# Solicita ao usuário inserir um número inteiro não negativo
try:
    number = int(input("Digite um número inteiro não negativo: "))
    if number < 0:
        raise ValueError("O número deve ser não negativo.")
    display_number(number)
except ValueError as e:
    print(f"Erro: {e}")

Digite um número inteiro não negativo: -1
Erro: O número deve ser não negativo.

In [ ]:
#  Cifra de César

# insira uma mensagem aberta (não encriptada), de uma linha.
text  = input("Digite sua mensagem: ")
# Prepara uma string para uma mensagem encriptada (vazia por agora).
cifra = ''
# Coverte a mensagem, verifica letras, tira espaço e incrementa +1.
for char in text:
  if not char.isalpha():
    continue
  char = char.upper()
  code = ord(char) + 1
  if code > ord('Z'):
    code = ord('A')
  cifra += chr(code)
# imprimi a mensagem encriptada.
print(cifra)

Digite sua mensagem: ze da manga
AFEBNBOHB

In [ ]:
# Cifra de César - decodificação

# Insira a Cifra Codificada
cifra = input('Insira o criptograma: ')
# Prepara uma string para decriptar a mensagem (vazia por agora).
text = ''
# Verifica a mensagem
for char in cifra:
  if not char.isalpha():
    continue
  char = char.upper()
  code = ord(char) - 1
  if code < ord('A'):
    code = ord('Z')
  text += chr(code)

# Revela a menssagem
print('Sua mensagem é: ',text)

Insira o criptograma: AFEBNBOHB
Sua mensagem é:  ZEDAMANGA

In [ ]:
# Processador de números

line = input("Entre com os números - sepaarando com espaços: ")
strings = line.split()
total = 0
try:
  for substr in strings:
    total += float(substr)
  print("O total é: ", total)
except:
  print(substr, "Isso não é um número.")

Entre com os números - sepaarando com espaços: aaa
aaa Isso não é um número.

In [ ]:
# IBAN Validator.
#Entra copm o endeço IBAN
iban = input("Ente com o núemro IBAN, por gentileza: ")
iban = iban.replace(' ','')
# Verifica se os caracteres correspondem ao IBAN
if not iban.isalnum():
    print("Use caracteres válidos.")
elif len(iban) < 15:
    print("Eendereço IBAN muito curto.")
elif len(iban) > 31:
    print("Endereço IBAN muito longo.")

# Verifica no BD se existe o endereço IBAN
else:
    iban = (iban[4:] + iban[0:4]).upper()
    iban2 = ''
    for ch in iban:
        if ch.isdigit():
            iban2 += ch
        else:
            iban2 += str(10 + ord(ch) - ord('A'))
    iban = int(iban2)
    if iban % 97 == 1:
        print("IBAN endereço válido.")
    else:
        print("IBAN endereço inválido.")

Ente com o núemro IBAN, por gentileza: FR76 30003 03620 00020216907 50
IBAN endereço válido.

In [ ]:
# Cifra de César melhorada


def cifra_de_cesar(texto, deslocamento):
    texto_codificado = ''
    for char in texto:
       # Verifica se o caractere é uma letra
        if char.isalpha():
          # Se for letra maiúscula
            if char.isupper():
                codigo = ord('A') + ((ord(char) - ord('A') + deslocamento) % 26)
                texto_codificado += chr(codigo)
          # Se for letra minúscula
            else:
                codigo = ord('a') + ((ord(char) - ord('a') + deslocamento) % 26)
                texto_codificado += chr(codigo)
        # Se não for uma letra, mantém o caractere original
        else:
            texto_codificado += char
    return texto_codificado
 # Verifica o valor do deslocamento
def obter_deslocamento_valido():
    while True:
        deslocamento = input("Insira um valor de deslocamento (um número inteiro no intervalo de 1 a 25): ")
        if deslocamento.isdigit():
            deslocamento = int(deslocamento)
            if 1 <= deslocamento <= 25:
                return deslocamento
        print("Por favor, insira um valor de deslocamento válido.")

# Exibe o texto modificado
def main():
    texto = input("Digite sua mensagem: ")
    deslocamento = obter_deslocamento_valido()
    texto_codificado = cifra_de_cesar(texto, deslocamento)
    print("Texto codificado:", texto_codificado)

if __name__ == "__main__":
    main()

In [ ]:
# Verificar palíndromo

def verifica_palindromo(texto):
    # Remove os espaços e converte todas as letras para minúsculas
    texto = texto.replace(" ", "").lower()
    # Compara o texto com sua versão invertida
    return texto == texto[::-1]

def main():
    texto = input("Digite algum texto: ")

    if not texto:
        print("Por favor, insira um texto válido.")
    elif verifica_palindromo(texto):
        print("O texto é um palíndromo!")
    else:
        print("O texto não é um palíndromo.")

if __name__ == "__main__":
    main()

Digite algum texto: Ten animals I slam in a net
O texto é um palíndromo!

In [ ]:
 # Anagrama
def verifica_anagrama(texto1, texto2):
    # Remove os espaços e converte todas as letras para minúsculas
    texto1 = texto1.replace(" ", "").lower()
    texto2 = texto2.replace(" ", "").lower()
    # Verifica se as strings possuem os mesmos caracteres
    return sorted(texto1) == sorted(texto2)

def main():
    texto1 = input("Digite o primeiro texto: ")
    texto2 = input("Digite o segundo texto: ")
  # Verifica se uma das strings é vazia.
    if not texto1 or not texto2:
        print("Por favor, insira dois textos válidos.")
    elif verifica_anagrama(texto1, texto2):
        print("Os textos são anagramas!")
    else:
        print("Os textos não são anagramas.")

if __name__ == "__main__":
    main()

Digite o primeiro texto: Listen
Digite o segundo texto: Silent
Os textos são anagramas!

In [ ]:
# Digito da vida

line = input("Entre com os números - separando-os com espaços: ")
strings = line.split()
total = 0
try:
  for substr in strings:
    total += float(substr)
  print("O total é: ", total)
except:
  print(substr, "Isso não é um número.")

Entre com os números - separando-os com espaços: 3 0
O total é:  3.0

In [ ]:
# Jogo das strings

# procura as strings selecionadas
def caracteres_escondidos(palavra, combinacao):
    posicao = -1

    for char in palavra:
        posicao = combinacao.find(char, posicao + 1)
        if posicao == -1:
            return "no"

    return "yes"

# Teste
palavra = input("Digite a palavra: ")
combinacao = input("Digite a combinação: ")

print(caracteres_escondidos(palavra, combinacao))

Digite a palavra: donor
Digite a combinação: Nabucodonosor
yes

In [ ]:
# Sudoku
def verifica_sudoku(tabuleiro):
# Verifica se todas as linhas são válidas
    for linha in tabuleiro:
        if not linha_valida(linha):
            return False

# Verifica se todas as colunas são válidas
    for j in range(9):
        coluna = [tabuleiro[i][j] for i in range(9)]
        if not linha_valida(coluna):
            return False

# Verifica se todos os subquadrados são válidos
    for i in range(0, 9, 3):
        for j in range(0, 9, 3):
            subquadrado = [tabuleiro[x][y] for x in range(i, i+3) for y in range(j, j+3)]
            if not linha_valida(subquadrado):
                return False

    return True

def linha_valida(linha):
# Verifica se a linha contém exatamente os dígitos de 1 a 9
    return sorted(linha) == [str(i) for i in range(1, 10)]

# Armazena as linhas e verifica se é válido.
def main():
    tabuleiro = []
    print("Digite o tabuleiro de Sudoku (9 linhas, cada uma com 9 dígitos):")
    for _ in range(9):
        linha = input().strip()
        if len(linha) != 9 or not linha.isdigit():
            print("Entrada inválida. Por favor, insira 9 dígitos em cada linha.")
            return
# Armazena cada linha como uma lista de dígitos
        tabuleiro.append(list(linha))

    if verifica_sudoku(tabuleiro):
        print("Yes")
    else:
        print("No")

if __name__ == "__main__":
    main()

Digite o tabuleiro de Sudoku (9 linhas, cada uma com 9 dígitos):
295743861
431865927
876192543
387459216
612387495
549216738
763524189
928671354
154938672
Yes

In [ ]:
import math

x = float(input("Enter x: "))
y = math.sqrt(x)

print("The square root of", x, "equals to", y)

Enter x: abracadara

ValueError: could not convert string to float: 'abracadara'

In [ ]:
# Erro de exceção é chamado ZeroDivisionError.
value = 1
value /= 0

ZeroDivisionError: division by zero

In [ ]:
# Este é o IndexError.
my_list = []
x = my_list[0]

IndexError: list index out of range

In [ ]:
first_number = int(input("Enter the first number: "))
second_number = int(input("Enter the second number: "))

if second_number != 0:
    print(first_number / second_number)
else:
    print("This operation cannot be done.")

print("THE END.")

Enter the first number: 1
Enter the second number: 2
0.5
THE END.

In [ ]:
first_number = int(input("Enter a first number: "))
second_number = int(input("Enter a second number: "))

try:
  print(first_number / second_number)

except:
  print("This operation cannot be done.")

print("Zé da manga")

Enter a first number: 0
Enter a second number: 0
This operation cannot be done.
Zé da manga

In [ ]:
x = 1
y = 3

try:
    print("1")
    x = 1 / 0
    print("2")
except:
    print("Oh dear, something went wrong...")

print("3")

1
Oh dear, something went wrong...
3

In [ ]:
try:
  x = int(input("Enter a Number: "))
  y = 1 / x
  print(y)
except ZeroDivisionError:
  print("You cannot divide by zero, sorry.")

except ValueError:
  print("You must enter an integer value.")

except:
  print("Oh dear, something went wrong.")

print("The End.")

Enter a Number: 0
You cannot divide by zero, sorry.
The End.

In [ ]:
try:
    print("Let's try to do this")
    print("#"[2])
    print("We succeeded!")
except:
  print("We failed!")

print("We're done")

Let's try to do this
We failed!
We're done

In [ ]:
try:
  print("Alpha"[1/0])

except ZeroDivisionError:
  print("Zero")

except IndexError:
  print("Index")

except:
  print("some")

Zero

In [ ]:
try:
  y = 1 / 0
except BaseException:
  print("OOOOPPPPPSSSSS..")

print("The End.")

OOOOPPPPPSSSSS..
The End.

In [ ]:
# Exceção dentro da função
try:
    y = 1 / 0
except ArithmeticError:
    print("Arithmetic problem!")

except ZeroDivisionError:
    print("Zero Division!")

print("THE END.")

Arithmetic problem!
THE END.

In [ ]:
def bad_fun(n):
  try:
    return 1 / n
  except ArithmeticError:
    print("Arithmetic Problem!")
  return None

bad_fun(0)

print("the End.")

Arithmetic Problem!
the End.

In [ ]:
# Fora da Função

def bad_fun(n):
  return 1 / n

try:
  bad_fun(0)

except ArithmeticError:
  print("What heppned? An exception was raised!")

print("The End.")

What heppned? An exception was raised!
The End.

In [ ]:
# Raise

def bad_fun(n):
  raise ZeroDivisionError

try:
  bad_fun(0)
except ArithmeticError:
  print("What happened ? An error?")

print("The End.")

What happened ? An error?
The End.

In [ ]:
def bad_fun(n):
    try:
      return n / 0
    except:
      print("I did it again!")
      raise

try:
  bad_fun(0)
except ArithmeticError:
  print("I see!")

print("the End.")

I did it again!
I see!
the End.

In [ ]:
import math

x = float(input("Enter a number: "))
assert x >= 0.0

x = math.sqrt(x)

print(x)

Enter a number: -1

AssertionError:

In [ ]:
try:
  print(1/0)

except ZeroDivisionError:
  print("zero")
except ArithmeticError:
  print("Arith")
except:
  print("Some")

zero

In [ ]:
try:
  print(1/0)
except ArithmeticError:
  print("arith")
except ZeroDivisionError:
  print("zero")
except:
  print("some")

arith

In [ ]:
def foo(x):
  assert x
  return 1/x

try:
  print(foo(0))
except ZeroDivisionError:
  print("zero")

except:
  print("some")

some

In [ ]:
def read_int(prompt, min, max):
  while True:
    try:
      value = int(input(prompt))
      if value < min or value > max:
        print(f"Value is not within permitted range ({min}..{max})")

      else:
          return value
    except ValueError:
      print("Erro")
    except:
      print("Zé da mangá")
# Example

v = read_int("Enter a number from -10 a 10 ", -10, 10)
print("the number is", v)

In [ ]:
# Minha Primeira Classe
class TheSimplestClass:
  pass

In [ ]:
# Meu Primeiro Objeto
my_first_object = TheSimplestClass

In [ ]:
# Stack - Abordagem procesual
stack = []

def push(val):
  stack.append(val)

def pop():
  val = stack[-1]
  del stack[-1]
  return val

push(3)
push(2)
push(1)

print(pop() )
print(pop() )
print(pop() )

1
2
3

In [ ]:
class Stack: # Definindo a stack class
  def __init__(self):
     print("Oi!")

stack_object = Stack()

Oi!
Zé da manga Zé da manga Zé da manga

In [ ]:
# Self
class Stack:
    def __init__(self):
        self.stack_list = []


stack_object = Stack()
print(len(stack_object.stack_list))

0

In [ ]:
# stack_list
class Stack:
  def __init__(self):
    self.__stack_list = []

stack_object = Stack()
print(len(stack_object.__stack_list))

AttributeError: 'Stack' object has no attribute '__stack_list'

In [ ]:
class Stack:
  def __init__(self):
    self.__stack_list = []

  def push(self, val):
    self.__stack_list.append(val)

  def pop(self):
    val = self.__stack_list[-1]
    del self.__stack_list[-1]
    return val

stack_object = Stack()

stack_object.push(3)
stack_object.push(2)
stack_object.push(1)

print(stack_object.pop())
print(stack_object.pop())
print(stack_object.pop())

1
2
3

In [ ]:
class Stack:
  def __init__(self):
    self.__stack_list = []

  def push(self, val):
    self.__stack_list.append(val)

  def pop(self):
    val = self.__stack_list[-1]
    del self.__stack_list[-1]
    return val

stack_object_1 = Stack()
stack_object_2 = Stack()

stack_object_1.push(12)
stack_object_2.push(stack_object_1.pop())

print(stack_object_2.pop())

23

In [ ]:
class Stack:
  def __init__(self):
    self.__stack_list = []

  def push(self, val):
    self.__stack_list.append(val)

  def pop(self):
    val = self.__stack_list[-1]
    del self.__stack_list[-1]
    return val

stack_object_1 = Stack()
stack_object_2 = Stack()
stack_object_3 = Stack()

stack_object_1.push(4)
stack_object_2.push(stack_object_1.pop() + 1)
stack_object_3.push(stack_object_2.pop() - 2)

print(stack_object_3.pop())

3

In [ ]:
class Stack:
  def __init_(self):
    self.__Stack_list = []

  def push(self, val):
    self.__stack_list.append(val)

  def pop(self):
    val = self.__stack_list[-1]
    del self.__stack_list[-1]
    return val

class AddingStack(Stack):
  def __init__(self):
    Stack.__init__(self)
    self.__sum = 0

In [ ]:
class Stack:
  def __init__(self):
    self.__stackList = []

  def push(self, val):
    self.__stackList.append(val)

  def pop(self):
    val = self.__stackList[-1]
    del self.__stackList[-1]
    return val

class AddingStack(Stack):
  def __init__(self):
    Stack.__init__(self)
    self.__sum = 0

  def push(self, val):
    self.__sum += val
    Stack.push(self, val)

In [ ]:
class Stack:
    def __init__(self):
        self.__stack_list=[]

    def push(self, val):
        self.__stack_list.append(val)

    def pop(self):
        val = self.__stack_list[-1]
        del self.__stack_list[-1]
        return val

class AddingStack(Stack):
    def __init__(self):
        Stack.__init__(self)
        self.__sum = 0

    def get_sum(self):
        return self.__sum

    def push(self, val):
        self.__sum += val
        Stack.push(self, val)
    def pop(self):
      val = Stack.pop(self)
      self.__sum -= val
      return val

stack_object = AddingStack()

for i in range(5):
  stack_object.push(i)

print(stack_object.get_sum())

for i in range(5):
  print(stack_object.pop())

10
4
3
2
1
0

In [ ]:
class Stack:
    def __init__(self):
      self.__stk = []

    def push(self, val):
      self.__stk.append(val)

    def pop(self):
      val = self.__stk[-1]
      del self.__stk[-1]
      return val

class CountingStack(Stack):
    def __init__(self):
      Stack.__init__(self)
      self.__counter = 0

    def get_counter(self):
      return self.__counter

    def pop(self):
      self.__counter += 1
      return Stack.pop(self)

stk = CountingStack()
for i in range(100):
  stk.push(i)
  stk.pop()
print(stk.get_counter())

100

In [ ]:
class QueueErro(Exception):
  pass

class Queue:
    def __init__(self):
      self.__queue_list = []

    def put(self, elem):
        self.__queue_list.insert(0, elem)

    def get(self):
        if not self.__queue_list:
            raise QueueError("Queue is empty!")
        return self.__queue_list.pop()

    def is_empty(self):
      return not self.__queue_list

que = Queue()
que.put(1)
que.put("dog")
que.put(False)

print(que.is_empty())

try:
    for i in range(4):
        print(que.get())

except:
  print("Queue error")

False
1
dog
False
Queue error

In [ ]:
# Variavel de estância
class ExampleClass:
    def __init__(self, val = 1):
        self.first = val

    def set_second(self, val):
        self.second = val

example_object_1 = ExampleClass(1)
example_object_2 = ExampleClass(2)

example_object_2.set_second(3)

example_object_3 = ExampleClass(4)
example_object_3.third = 5

print(example_object_1.__dict__)
print(example_object_2.__dict__)
print(example_object_3.__dict__)

{'first': 1}
{'first': 2, 'second': 3}
{'first': 4, 'third': 5}

In [ ]:
class ExampleClass:
    def __init__(self, val = 1):
        self.__first = val

    def set_second(self, val = 2):
        self.__second = val


example_object_1 = ExampleClass()
example_object_2 = ExampleClass(2)

example_object_2.set_second(3)

example_object_3 = ExampleClass(4)
example_object_3.__third = 5


print(example_object_1._ExampleClass__first)
print(example_object_2.__dict__)
print(example_object_3.__dict__)

1
{'_ExampleClass__first': 2, '_ExampleClass__second': 3}
{'_ExampleClass__first': 4, '__third': 5}

In [ ]:
class ExampleClass:
     counter = 0
     def __init__(self, val = 1):
         self.__first = val
         ExampleClass.counter += 1

example_object_1 = ExampleClass()
example_object_2 = ExampleClass(2)
example_object_3 = ExampleClass(4)

print(example_object_1.__dict__, example_object_1.counter)
print(example_object_2.__dict__, example_object_2.counter)
print(example_object_3.__dict__, example_object_3.counter)

{'_ExampleClass__first': 1} 3
{'_ExampleClass__first': 2} 3
{'_ExampleClass__first': 4} 3

In [ ]:
class ExampleClass:
  varia = 1
  def __init__(self, val):
      ExampleClass.varia = val

print(ExampleClass.__dict__)
example_object = ExampleClass(2)

print(ExampleClass.__dict__)
print(example_object.__dict__)

{'__module__': '__main__', 'varia': 1, '__init__': <function ExampleClass.__init__ at 0x79107e21c0d0>, '__dict__': <attribute '__dict__' of 'ExampleClass' objects>, '__weakref__': <attribute '__weakref__' of 'ExampleClass' objects>, '__doc__': None}
{'__module__': '__main__', 'varia': 2, '__init__': <function ExampleClass.__init__ at 0x79107e21c0d0>, '__dict__': <attribute '__dict__' of 'ExampleClass' objects>, '__weakref__': <attribute '__weakref__' of 'ExampleClass' objects>, '__doc__': None}
{}

In [ ]:
class ExampleClass:
  def __init__(self, val):
      if val % 2 != 0:
          self.a = 1
      else:
          self.b = 1

example_object = ExampleClass(1)

print(example_object.a)
print(example_object.b)

1

AttributeError: 'ExampleClass' object has no attribute 'b'

In [ ]:
class ExampleClass:
  def __init__(self, val):
      if val % 2 != 0:
          self.a = 1
      else:
          self.b = 1

example_object = ExampleClass(1)
print(example_object.a)

try:
  print(example_object.b)
except AttributeError:
  pass

1

In [ ]:
class ExampleClass:
  def __init__(self, val):
      if val % 2 != 0:
          self.a = 1
      else:
          self.b = 1

example_object = ExampleClass(1)
print(example_object.a)

if hasattr (example_object,'b'):
  print(example_object.b)

1

In [ ]:
class ExampleClass:
    attr = 1

print(hasattr(ExampleClass, 'attr'))
print(hasattr(ExampleClass,'poop'))

True
False

In [ ]:
class ExampleClass:
    a = 1
    def __init__(self):
        self.b = 2

example_object = ExampleClass()

print(hasattr(example_object,'b'))
print(hasattr(example_object,'a'))
print(hasattr(ExampleClass,'b'))
print(hasattr(ExampleClass,'a'))

True
True
False
True

In [ ]:
class Classy:
    def method(self):
        print('method')

obj = Classy()
obj.method

In [ ]:
class Classy:
    def method(self, par):
        print("method:", par)

obj = Classy()
obj.method(1)
obj.method(2)
obj.method(3)

method: 1
method: 2
method: 3

In [ ]:
class Classy:
    varia = 2
    def method(self):
        print(self.varia, self.var)


obj = Classy()
obj.var = 3
obj.method()

In [ ]:
class Classy:
    def other(self):
        print("other")

    def method(self):
        print("method")
        self.other()


obj = Classy()
obj.method()

In [ ]:
class Classy:
    varia = 2
    def method(self):
        print(self.varia, self.var)

obj = Classy()
obj.var = 3
obj.method()

2 3

In [ ]:
class Classy:
    def other(self):
        print("other")

    def method(self):
        print("method")
        self.other()


obj = Classy()
obj.method()

method
other

In [ ]:
class Classy:
    def __init__(self, value):
        self.var = value


obj_1 = Classy("object")

print(obj_1.var)

object

In [ ]:
class Classy:
  def __init__(self, value = None):
      self.var = value


obj_1 = Classy("object")
obj_2 = Classy()

print(obj_1.var)
print(obj_2.var)

object
None

In [ ]:
class Classy:
    def visible(self):
        print("visible")

    def __hidden(self):
        print("hidden")


obj = Classy()
obj.visible()

try:
    obj.__hidden()
except:
    print("failed")

obj._Classy__hidden()

In [ ]:
class Classy:
    pass
class B:
    pass

print(B.__name__)
print(Classy.__name__)
obj = Classy()
print(type(obj).__name__)
print(obj.__name__)

B
Classy
Classy

AttributeError: 'Classy' object has no attribute '__name__'

In [ ]:
class Classy:
  pass

print(Classy.__module__)
obj = Classy()
print(obj.__module__)

__main__
__main__

In [ ]:
class SuperOne:
    pass

class SuperTwo:
    pass

class Sub(SuperOne, SuperTwo):
    pass

def printBases(cls):
    print('( ', end='')

    for x in cls.__bases__:
        print(x.__name__, end=' ')
    print(')')

printBases(SuperOne)
printBases(SuperTwo)
printBases(Sub)

( object )
( object )
( SuperOne SuperTwo )

In [ ]:
class MyClass:
    pass

obj = MyClass()
obj.a = 1
obj.b = 2
obj.i = 3
obj.ireal = 3.5
obj.integer = 4
obj.z = 5


def incIntsI(obj):
    for name in obj.__dict__.keys():
        if name.startswith('i'):
            val = getattr(obj, name)
            if isinstance(val, int):
                setattr(obj, name, val + 1)


print(obj.__dict__)
incIntsI(obj)
print(obj.__dict__)

{'a': 1, 'b': 2, 'i': 3, 'ireal': 3.5, 'integer': 4, 'z': 5}
{'a': 1, 'b': 2, 'i': 4, 'ireal': 3.5, 'integer': 5, 'z': 5}

In [ ]:
class Timer:
    def __init__(self, hours=0, minutes=0, seconds=0):
        self.hours = hours
        self.minutes = minutes
        self.seconds = seconds

    def __str__(self):
        return f"{self.hours:02d}:{self.minutes:02d}:{self.seconds:02d}"

    def next_second(self):
        self.seconds += 1
        if self.seconds == 60:
            self.seconds = 0
            self.minutes += 1
            if self.minutes == 60:
                self.minutes = 0
                self.hours += 1
                if self.hours == 24:
                    self.hours = 0

    def prev_second(self):
        self.seconds -= 1
        if self.seconds == -1:
            self.seconds = 59
            self.minutes -= 1
            if self.minutes == -1:
                self.minutes = 59
                self.hours -= 1
                if self.hours == -1:
                    self.hours = 23


timer = Timer(23, 59, 59)
print(timer)
timer.next_second()
print(timer)
timer.prev_second()
print(timer)

23:59:59
00:00:00
23:59:59

In [ ]:
class WeekDayError(Exception):
    pass

class Weeker:
    _days_of_week = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

    def __init__(self, day):
        if day not in self._days_of_week:
            raise WeekDayError("Invalid day of the week")
        self._day = day

    def __str__(self):
        return f"Da'y of the week: {self._day}"

    def add_days(self, n):
        current_index = self._days_of_week.index(self._day)
        new_index = (current_index + n) % 7
        self._day = self._days_of_week[new_index]

    def subtract_days(self, n):
        current_index = self._days_of_week.index(self._day)
        new_index = (current_index - n) % 7
        self._day = self._days_of_week[new_index]


try:
    weekday = Weeker('Mon')
    print(weekday)
    weekday.add_days(15)
    print(weekday)
    weekday.subtract_days(23)
    print(weekday)
    weekday = Weeker('Monday')
except WeekDayError:
    print("Sorry, I can't serve your request.")

Day of the week: Mon
Day of the week: Tue
Day of the week: Sun
Sorry, I can't serve your request.

In [ ]:
import math

class Point:
    def __init__(self, x=0.0, y=0.0):
        self._x = x
        self._y = y

    def getx(self):
        return self._x

    def gety(self):
        return self._y

    def distance_from_xy(self, x, y):
        return math.hypot(self._x - x, self._y - y)

    def distance_from_point(self, point):
        return math.hypot(self._x - point.getx(), self._y - point.gety())

point1 = Point(0, 0)
point2 = Point(1, 1)
print(point1.distance_from_point(point2))
print(point2.distance_from_xy(2, 0))

1.4142135623730951
1.4142135623730951

In [ ]:
import math

class Point:
    def __init__(self, x=0.0, y=0.0):
        self.__x = x
        self.__y = y

    def get_x(self):
        return self.__x

    def get_y(self):
        return self.__y

class Triangle:
    def __init__(self, vertice1, vertice2, vertice3):
        self.__vertices = [vertice1, vertice2, vertice3]

    def perimeter(self):
        dist1 = math.hypot(self.__vertices[0].get_x() - self.__vertices[1].get_x(),
                           self.__vertices[0].get_y() - self.__vertices[1].get_y())
        dist2 = math.hypot(self.__vertices[1].get_x() - self.__vertices[2].get_x(),
                           self.__vertices[1].get_y() - self.__vertices[2].get_y())
        dist3 = math.hypot(self.__vertices[2].get_x() - self.__vertices[0].get_x(),
                           self.__vertices[2].get_y() - self.__vertices[0].get_y())
        return dist1 + dist2 + dist3

triangle = Triangle(Point(0, 0), Point(1, 0), Point(0, 1))
print(triangle.perimeter())

3.414213562373095

In [ ]:
class Star:
    def __init__(self, name, galaxy):
        self.name = name
        self.galaxy = galaxy

sun = Star("Sun", "Milk Way")
print(sun)

<__main__.Star object at 0x782eaf41bfa0>

In [ ]:
class Star:
    def __init__(self, name, galaxy):
        self.name = name
        self.galaxy = galaxy

    def __str__(self):
        return self.name + ' in ' + self.galaxy

sun = Star("Sun", "Milky Way")
print(sun)

Sun in Milky Way

In [ ]:
#Herança

class Vehicle: #Super Classe
    pass

class LandVehicle: # SubClasse de Vehicle e Super Classe de Tracked
    pass

class TrackedVehicle:# SubClasse de Vehicle e Tracked
    pass

for cls1 in [Vehicle, LandVehicle, TrackedVehicle]:
    for cls2 in [Vehicle, LandVehicle, TrackedVehicle]:
        print(issubclass(cls1, cls2), end="\t")
    print()

True	False	False
False	True	False
False	False	True

In [ ]:
class Vehicle: #Super Classe
    pass

class LandVehicle: # SubClasse de Vehicle e Super Classe de Tracked
    pass

class TrackedVehicle:# SubClasse de Vehicle e Tracked
    pass

my_vehicle = Vehicle()
my_land_vehicle = LandVehicle()
my_tracked_vehicle = TrackedVehicle()

for obj in (my_vehicle, my_land_vehicle, my_tracked_vehicle):
    for cls in [Vehicle, LandVehicle, TrackedVehicle]:
        print(isinstance(obj, cls), end=' ')
    print()

True False False
False True False
False False True

In [ ]:
class SampleClass:
    def __init__(self, val):
        self.val = val

object_1 = SampleClass(0)
object_2 = SampleClass(2)
object_3 = object_1
object_3.val += 1

print(object_1 is object_2)
print(object_2 is object_3)
print(object_3 is object_1)
print(object_1.val, object_2.val, object_3.val)

string_1 = "Mary had a little "
string_2 = "Mary had a little lamb"
string_1 += "lamb"

print(string_1 == string_2, string_1 is string_2)

False
False
True
1 2 1
True False

In [ ]:
# De que forma o Python encontra propriedades e métodos?

class Super:
    def __init__(self, name):
        self.name = name

    def __str__(self):
        return "My name is " + self.name + "."

class Sub(Super):
    def __init__(self, name):
        Super.__init__(self, name)


obj = Sub("Andy")

print(obj)

My name is Andy.

In [1]:
class Super:
    def __init__(self, name):
        self.name = name

    def __str__(self):
        return "My name is " + self.name + "."

class Sub(Super):
    def __init__(self, name):
        super().__init__(name)

obj = Sub("Andy")

print(obj)

My name is Andy.

In [3]:
# Testando propriedades - Variaveis de Classe
class Super:
    supVar = 1

class Sub(Super):
    subVar = 2

obj = Sub()

print(obj.subVar)
print(obj.supVar)

2
1

In [6]:
# Testando propriedades - Variáveis de instância
class Super:
    def __init__(self):
        self.supVar = 11

class Sub(Super):
    def __init__(self):
        super().__init__()
        self.subVar = 12

obj = Sub()

print(obj.subVar)
print(obj.supVar)

12
11