<a href="https://colab.research.google.com/github/vitorwmoutinho/projeto1aprender/blob/main/exerc%C3%ADcios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A program that reads a sequence of numbers
# and counts how many numbers are even and many are odd
# The program terminates when zero is entered

odd_numbers = 0
even_numbers = 0

# Read the first number.
number = int(input("Enter a number or type 0 to stop: "))

# 0 terminate execution.
while number != 0:
  # Check if the number is odd
   if number % 2 == 1:
   # read the next number.
      odd_numbers += 1
   else:
    # Increase the even_numbers counter
    even_numbers += 1
    # Read the next number
   number = int(input("Enter a number or type 0 to stop: "))

# Print results
print("Odd numbers count:", odd_numbers)
print("Even numbers count:", even_numbers)

Enter a number or type 0 to stop: 1
Enter a number or type 0 to stop: 2
Enter a number or type 0 to stop: 3
Enter a number or type 0 to stop: 4
Enter a number or type 0 to stop: 5
Enter a number or type 0 to stop: 0
Odd numbers count: 3
Even numbers count: 2

In [ ]:
for i in range(1, 6):
    print("The value of i is currently", i)

The value of i is currently 1
The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5

In [ ]:
import time
    # Write a for loop that counts to five.
for i in range(1, 6):
    # Body of the loop - use: time.sleep(1)
    time.sleep(1)
    print(i, "Mississippi")
# Write a print function with the final message.
print("Ready or not, here I come")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
Ready or not, here I come

In [ ]:
# break - example

print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop.

In [ ]:

# continue - example

print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue
    print("Inside the loop.", i)
print("Outside the loop.")

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [ ]:
largest_number = -99999999
counter = 0

while True:
    number = int(input("Enter a number or type -1 to end program: "))
    if number == -1:
        break
    counter += 1
    if number > largest_number:
        largest_number = number

if counter != 0:
    print("The largest number is", largest_number)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 1
Enter a number or type -1 to end program: 2
Enter a number or type -1 to end program: -1
The largest number is 2

In [ ]:
largest_number = -99999999
counter = 0

number = int(input("Enter a number or type -1 to end program: "))

while number != -1:
    if number == -1:
        continue
    counter += 1

    if number > largest_number:
        largest_number = number
    number = int(input("Enter a number or type -1 to end program: "))

if counter:
    print("The largest number is", largest_number)
else:
    print("You haven't entered any number.")

Enter a number or type -1 to end program: 10
Enter a number or type -1 to end program: 12
Enter a number or type -1 to end program: -1
The largest number is 12

In [ ]:
p_passe = input("Escolha o animal: ")

while p_passe != "chupacabra":
  if p_passe == "chupacabra":
    break
  else:
    print("Animal errado, escolha novamente: ")
    p_passe = input("Escolha o animal: ")

else:
  print("Zélelele")

Escolha o animal: Marex
Animal errado, escolha novamente:
Escolha o animal: Bovo
Animal errado, escolha novamente:
Escolha o animal: bolovo
Animal errado, escolha novamente:
Escolha o animal: dacueba
Animal errado, escolha novamente:
Escolha o animal: chupacabra
Zélelele

In [ ]:
# Prompt the user to enter a word
# and assign it to the user_word variable.
user_Word = input("Enter a word: ")
user_Word = user_Word.upper()

for letter in user_Word:
    # Complete the body of the for loop
    if letter in "AEIOU":
      continue
    print(letter)

Enter a word: Gregory
G
R
G
R
Y

In [ ]:
word_without_vowels = ""
user_word = input("Enter a word: ")
user_word = user_word.upper()
# Prompt the user to enter a word
# and assign it to the user_word variable.


for letter in user_word:
  if letter in "AEIOU":
    continue
  word_without_vowels += letter
    # Complete the body of the loop.

# Print the word assigned to word_without_vowels.
print(word_without_vowels)

Enter a word: Gregory
GRGRY

In [ ]:
i = 1
while i < 5:
  print(i)
  i += 1
else:
  print("else:", i)

1
2
3
4
else: 5

In [ ]:
for i in range(6):
    print(i)
else:
    print("else:", i)

0
1
2
3
4
5
else: 5

In [ ]:
blocks = int(input("Enter the number of blocks: "))

height = 0
blocks_used = 0
step = 1
while blocks_used < blocks:
  blocks_used += step
  if blocks_used > blocks:
    break
  else:
    height += 1
    step += 1


print("The height of the pyramid:", height)

Enter the number of blocks: 1000
The height of the pyramid: 44

In [ ]:
c0 = int(input("Enter a number: "))
if c0 < 1:
  print("Use a non-negative, non-zero number")
  exit

steps = 0

while c0 != 1:
  if c0  % 2 == 0:
    c0 = int(c0 / 2)
  else:
    c0 = 3 * c0 + 1
  print(c0)
  steps += 1

print("Total number of steps: ", steps)

In [ ]:
# Example 1
while True:
    print("Stuck in an infinite loop.")

# Example 2
counter = 5
while counter > 2:
    print(counter)
    counter -= 1

In [ ]:
# Example 1
word = "Python"
for letter in word:
    print(letter, end="*")

# Example 2
for i in range(1, 10):
    if i % 2 == 0:
        print(i)

In [ ]:
text = "OpenEDG Python Institute"
for letter in text:
    if letter == "i":
        break
    print(letter, end="")

OpenEDG Python Inst

In [ ]:
text = "pyxpyxpyx"
for letter in text:
    if letter == "x":
        continue
    print(letter, end="")

pypypy

In [ ]:
n = int(input("Numero: "))

while n != 3:
    print(n)
    n += 1
else:
    print(n, "else")

print()

for i in range(0, 5):
    print(i)
else:
    print(i, "else")

In [ ]:
for i in range(3):
    print(i, end=" ")  # Outputs: 0 1 2

for i in range(6, 1, -2):
    print(i, end=" ")  # Outputs: 6, 4, 2

0 1 2 6 4 2

In [ ]:
for i in range(11):
  if i % 2 != 0:
    print(i)

In [ ]:
x = 1
while x < 11:
  if x % 2 != 0:
    print(x)
  x += 1

In [ ]:
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch, end="")

john.smith

In [ ]:
for digit in "0165031806510":
  if digit == "0":
    print("x", end="")
    continue
  print(digit, end="")

x165x318x651x

In [ ]:
n = 3

while n > 0:
  print(n + 1)
  n -= 1
else:
  print(n)

4
3
2
0

In [ ]:
n = range(4)

for num in n:
  print(num - 1)
else:
  print(num)

-1
0
1
2
3

In [ ]:
for i in range(0, 6, 3):
  print(i)

0
3

In [ ]:
counter > 0 and value == 100

In [ ]:
# Example 1:
print(var > 0)
print(not (var <= 0))


# Example 2:
print(var != 0)
print(not (var == 0))

In [ ]:
i = 1
j = not not i

In [ ]:
var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)

17 68 8

In [ ]:
x = 1
y = 0

z = ((x == y) and (x == y)) or not(x == y)
print(not(z))

False

In [ ]:
x = 4
y = 1

a = x & y
b = x | y
c = ~x  # tricky!
d = x ^ 5
e = x >> 2
f = x << 2

print(a, b, c, d, e, f)

0 5 -5 1 1 16

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("New list content: ", numbers)  # Current list content.

Original list content: [10, 5, 7, 2, 1]
New list content:  [111, 5, 7, 2, 1]

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("\nPrevious list content:", numbers)  # Printing previous list content.

numbers[1] = numbers[4]  # Copying value of the fifth element to the second.
print("New list content:", numbers)  # Printing current list content.

Original list content: [10, 5, 7, 2, 1]

Previous list content: [111, 5, 7, 2, 1]
New list content: [111, 1, 7, 2, 1]

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("\nPrevious list content:", numbers)  # Printing previous list content.

numbers[1] = numbers[4]  # Copying value of the fifth element to the second.
print("Previous list content:", numbers)  # Printing previous list content.

print("\nList length:", len(numbers))  # Printing the list's length.

Original list content: [10, 5, 7, 2, 1]

Previous list content: [111, 5, 7, 2, 1]
Previous list content: [111, 1, 7, 2, 1]

List length: 5

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("\nPrevious list content:", numbers)  # Printing previous list content.

numbers[1] = numbers[4]  # Copying value of the fifth element to the second.
print("Previous list content:", numbers)  # Printing previous list content.

print("\nList's length:", len(numbers))  # Printing previous list length.

###

del numbers[1]  # Removing the second element from the list.
print("New list's length:", len(numbers))  # Printing new list length.
print("\nNew list content:", numbers)  # Printing current list content.

In [ ]:
numbers = [111, 7, 2, 1]
print(numbers[-1])
print(numbers[-2])
print(numbers[-4])

1
2
111

In [ ]:
hat_list = [1, 2, 3, 4, 5]  # This is an existing list of numbers hidden in the hat.

print(hat_list)

hat_list[3] = int(input("Escreva o numero novo: "))
print(hat_list)
# Step 2: write a line of code that removes the last element from the list.

del hat_list[4]

# Step 3: write a line of code that prints the length of the existing list.

print(hat_list)
print(len(hat_list))

[1, 2, 3, 4, 5]
Escreva o numero novo: 123
[1, 2, 3, 123, 5]
[1, 2, 3, 123]
4

In [ ]:
numbers = [111, 7, 2, 1]
print(len(numbers))
print(numbers)

list.insert(1, 333)

numbers.append(4)

print(len(numbers))
print(numbers)

###

numbers.insert(0, 222)
print(len(numbers))
print(numbers)

#

In [ ]:
my_list = []  # Creating an empty list.

for i in range(5):
    my_list.insert(0, i + 1)

print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
my_list = [] #Creating an empty list

for i in range(5):
  my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
my_list1 = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list1)):
  total += my_list1[i]

print(total)

In [ ]:
var1 = 1
var2 = 2

aux = var1
var1 = var2
var2 = aux

print(var1," ", var2)

2   1

In [ ]:
var_1 = 1
var_2 = 2

print(var_1, var_2)

var_1, var_2 = var_2, var_1

print(var_1, var_2)

1 2
2 1

In [ ]:
my_list = [10, 1, 8, 3, 5]

my_list[0], my_list[4] = my_list[4], my_list[0]
my_list[1], my_list[3] = my_list[3], my_list[1]

print(my_list)

[5, 3, 8, 1, 10]

In [ ]:
my_list = [10, 1, 8, 3, 5]
length = len(my_list)

for i in range (length // 2):
  my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]

print(my_list)

[5, 3, 8, 1, 10]

In [ ]:
beatles = [] #empty list

print("Step 1:", beatles)

# step 2
beatles.append("John Lennon")
beatles.append("Paul McCartey")
beatles.append("George Harrison")
print("Step 2:", beatles)

# step 3
for menber in range(2):
  beatlesName = input("New beatle name? ")
  beatles.append(beatlesName)
print("Step 3:", beatles)

# step 4
del beatles[3:5]
print("Step 4:", beatles)

# step 5
beatles.insert(0, "Ringo Star")
print("Step 5:", beatles)


# testing list legth
print("The Fab", len(beatles))

In [ ]:
my_list = [1, None, True, "I am a string", 256, 0]
print(my_list[3]) #outputs: I am a string
print(my_list[-1]) #outputs: 0

my_list[1] = '?'

print(my_list) # outputs: [1, '?', True, 'I am a string', 256, 0]

my_list.insert(0, "first")
my_list.append("last")
print(my_list) # outputs: ['first', 1, '?', True, 'i am string', 256, 0, 'last']

I am a string
0
[1, '?', True, 'I am a string', 256, 0]
['first', 1, '?', True, 'I am a string', 256, 0, 'last']

In [ ]:
my_list = [1, 2, 3, 4]
del my_list[2]
print(my_list)

del my_list

[1, 2, 4]

In [ ]:
my_list = ["white", "purple", "blue", "yellow", "green"]

for color in my_list:
  print(color)

white
purple
blue
yellow
green

In [ ]:
my_list = ["white", "purple", "blue", "yellow", "green"]

print(len(my_list))

del my_list[2]

print(len(my_list))

5
4

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
del lst[0]
lst.append(1)

print(lst)

[6, 2, 3, 4, 5, 1]

In [ ]:
lst = [1, 2, 3, 4, 5]
lst_2 = []
add = 0

for number in lst:
  add += number
  lst_2.append(add)

print(lst_2)

[1, 3, 6, 10, 15]

In [ ]:
lst = []
del lst
print(lst)

In [ ]:
lst = [1, [2, 3], 4]
print(lst[1])
print(len(lst))

[2, 3]
3

In [ ]:
my_list = [8, 10, 6, 2, 4] # list to sort

for i in range(len(my_list) - 1): # we need (5 - 1) comparisons
  if my_list[i] > my_list[i + 1]: # compare adjacent elements
    my_list[i], my_list[i +1] = my_list[i + 1], my_list[i] #If we end up here

In [ ]:
my_list = [8, 10, 6, 2, 4] # list sort
swapped = True # It's a little fake, we need it to enter the while loop

while swapped:
  swapped = False # no swaps so far
  for i in range(len(my_list) - 1):
    if my_list[i] > my_list[i + 1]:
      swapped = True # a swap ocurred!
      my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
my_list= [8, 10, 6, 2, 4]
my_list.sort()
print(my_list)

[2, 4, 6, 8, 10]

In [ ]:
my_list = []
swapped = True
num = int(input("How many elements do you want to sort: "))

for i in range(num):
    val = float(input("Enter a list element: "))
    my_list.append(val)

while swapped:
    swapped = False
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
          swapped = True
          my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print("\nSorted:")
print(my_list)

In [ ]:
lst = [5, 3, 1, 2, 4]
print(lst)

lst.sort()
print(lst) # outputs [1, 2, 3, 4, 5]

[5, 3, 1, 2, 4]
[1, 2, 3, 4, 5]

In [ ]:
lst = [5, 3, 1, 2, 4]
print(lst)

lst.reverse()
print(lst)  #outputs [4, 2, 1, 3, 5]

[5, 3, 1, 2, 4]
[4, 2, 1, 3, 5]

In [ ]:
lst = ["D", "F", "A", "Z"]
lst.sort()

print(lst)

['A', 'D', 'F', 'Z']

In [ ]:
a = 3
b = 1
c = 2

lst = [a, c, b]
lst.sort()

print(lst)

[1, 2, 3]

In [ ]:
a = "A"
b = "B"
c = "C"
d =" "
lst = [a, b, c, d]
lst.reverse()

print(lst)

[' ', 'C', 'B', 'A']

In [ ]:
list_1 = [1]
list_2 = list_1
list_1[0] = 2
print(list_2)

[2]

In [ ]:
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

In [ ]:
my_list[start:end]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[8, 6]

In [ ]:
# Copying the entire list
list_1 = [1]
list_2 = list_1[:]
list_1[0] = 2
print(list_2)

# Copying some part of the list.
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print(new_list)

[1]
[8, 6]

In [ ]:
my_list[start:end]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:-1]
print(new_list)

[8, 6, 4]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[-1:1]
print(new_list)

[]

In [ ]:
my_list[:end] = my_list[0:end]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:3]
print(new_list)

[10, 8, 6]

In [ ]:
my_list[start:] = my_list[start:len(my_list)]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[3:]
print(new_list)

[4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:]

In [ ]:
my_list = [10, 8, 6, 4, 2]
new_list = my_list[:]
print(new_list)

[10, 8, 6, 4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list[1:3]
print(my_list)

[10, 4, 2]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list[:]
print(my_list)

[]

In [ ]:
my_list = [10, 8, 6, 4, 2]
del my_list
print(my_list)

In [ ]:
my_list = [0, 3, 12, 8, 2]
print(5 in my_list)
print(5 not in my_list)
print(12 in my_list)

False
True
True

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in range(1, len(my_list)):
  if my_list[i] > largest:
    largest = my_list[i]

print(largest)

17

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in my_list:
  if i > largest:
    largest = i

print(largest)

17

In [ ]:
my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

for i in my_list[1:]:
  if i > largest:
    largest = i

print(largest)

17

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 6
found = False

for i in range(len(my_list)):
  found = my_list[i] == to_find
  if found:
    break

if found:
  print("Elemente found at index", i)

else:
  print("absent")

Elemente found at index 5

In [ ]:
draw = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0

for number in bets:
  if number in draw:
    hits += 1

print(hits)

4

In [ ]:
my_list = [1, 2, 4, 4, 1, 4, 2, 6, 2, 9]
new_list = my_list[2:9]

for i in my_list:
  if i in new_list:
    del my_list[i]

print("The list with unique elements only:")
print(my_list)

The list with unique elements only
[1, 4, 6, 2, 9]

In [ ]:
vehicles_one = ["car", "bicycle", "motor"]
print(vehicles_one) # outputs ['car', 'bicycle', 'motor']

vehicles_two = vehicles_one
del vehicles_one[0] # delete 'car'
print(vehicles_two) # outputs: ['bicycle', 'motor']

['car', 'bicycle', 'motor']
['bicycle', 'motor']

In [ ]:
color = ['red', 'green', 'orange']

print(color)

copy_whole_colors = color[:] # copy the entire list
copy_part_colors = color[0:2] # copy part of the list

print(copy_whole_colors)
print(copy_part_colors)

['red', 'green', 'orange']
['red', 'green', 'orange']
['red', 'green']

In [ ]:
sample_list = ["A", "B", "C", "D", "E"]
new_list = sample_list[2:-1]
print(new_list) # outputs: ['C', 'D']

['C', 'D']

In [ ]:
my_list = [1, 2, 3, 4, 5]
slice_one = my_list[2:]
slice_two = my_list[:2]
slice_three = my_list[-2:]

print(slice_one)
print(slice_two)
print(slice_three)

In [ ]:
my_list = [1, 2, 3, 4, 5]
del my_list[0:2]
print(my_list)

del my_list[:]
print(my_list)

[3, 4, 5]
[]

In [ ]:
my_list = ["A", "B", 1, 2]
print("A" in my_list)
print("C" not in my_list)
print(2 not in my_list)

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2[0]

print(list_3)

['C']

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2

print(list_3)

['B', 'C']

In [ ]:
list_1 = ["A", "B", "C"]
list_2 = list_1
list_3 = list_2

del list_1[0]
del list_2[:]

print(list_3)

[]

In [ ]:
list_1 = ["A", "B", "C"]
list_2 =list_1[:]
list_3 = list_2[:]

del list_1[0]
del list_2[0]

print(list_3)

['A', 'B', 'C']

In [ ]:
my_list = [1, 2, "in", True, "ABC"]

print(1 in my_list)  # outputs True
print("A" not in my_list)  # outputs True
print(3 not in my_list)  # outputs True
print(False in my_list)  # outputs False

True
True
True
False

In [ ]:
row = []

for i in range (8):
  row.append(WHITE_PAWN)

In [ ]:
x = int(input("Square: "))
squares = [x ** 2 for x in range(10)]

print(squares)

Square: 2
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
x = int(input("Indique um numero: "))
twos = [2 ** i for i in range (8)]

print(twos)

Indique um numero: 32
[1, 2, 4, 8, 16, 32, 64, 128]

In [ ]:
x = int(input("Indique um numero: "))
odds = [x for x in squares if x % 2 !=0]

print(odds)

Indique um numero: 29
[1, 9, 25, 49, 81]

In [ ]:
board = []

for i in range(8):
  row = [EMPTY for i in range(8)]
  board.append(row)

In [ ]:
board = [[EMPTY for i in range(8)] for j in range(8)]

In [ ]:
EMPTY = "-"
ROOK = "ROOK"
KNIGHT = "KNIGHT"
PAWN = "PAWN"
board = []

for i in range(8):
  row = [EMPTY for i in range (8)]
  board.append(row)

board[0][0] = ROOK
board[0][7] = ROOK
board[7][0] = ROOK
board[7][7] = ROOK
board[4][2] = KNIGHT
board[3][4] = PAWN

print(board)

In [ ]:
temps = [[25.5 for h in range(24)] for d in range(31)]

# Preenchendo a matriz com valores hipotéticos (por exemplo, temperaturas em Celsius)
for day in temps:
    for hour in range(24):
        # Suponha que estamos atribuindo valores fixos para fins ilustrativos
        day[hour] = 25.5  # Temperatura constante de 25.5 graus Celsius

total = 0.0

for day in temps:
    total += day[11]  # Somando as temperaturas ao meio-dia (índice 11)

average = total / 31

print("Average temperature at noon:", average)

Average temperature at noon: 25.5

In [ ]:
import random
temps = [[25.5 for h in range(24)] for d in range(31)]

# Atualize a matriz com valores hipotéticos (por exemplo, temperaturas em Celsius)
for day in temps:
    for hour in range(24):
        # Suponha que estamos atribuindo valores fixos para fins ilustrativos
        day[hour] = random.uniform(10.0, 30.0)  # Intervalo de 10 a 30 graus Celsius

highest = max(max(day) for day in temps)

print("The highest temperature was:", highest)

The highest temperature was: 29.98734870175227

In [ ]:
rooms = [[[False for r in range(20)] for f in range(15)] for t in range(3)]

rooms[1][9][13] = True

print(rooms)

[[[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, True, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]], [[False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False], [False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False, False]]]

In [ ]:
cubed = [num ** 3 for num in range(5)]
print(cubed) # outputs : [0, 1, 8, 27, 64]

[0, 1, 8, 27, 64]

In [ ]:
table = [[":(", ":)", ":(", ":)"],
         [":)", ":(", ":)", ":)"],
         [":(", ":)", ":)", ":("],
         [":)", ":)", ":)", ":("]]

#print(table)
print(table[0][0])
print(table[0][3])

:(
:)

In [ ]:
# Cube - a three-dimensional array (3x3x3)

cube = [[[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':(', 'x', 'x']],

        [[':)', 'x', 'x'],
         [':(', 'x', 'x'],
         [':)', 'x', 'x']],

        [[':(', 'x', 'x'],
         [':)', 'x', 'x'],
         [':)', 'x', 'x']]]

#print(cube)
print(cube[0][0][0])

[[[':(', 'x', 'x'], [':)', 'x', 'x'], [':(', 'x', 'x']], [[':)', 'x', 'x'], [':(', 'x', 'x'], [':)', 'x', 'x']], [[':(', 'x', 'x'], [':)', 'x', 'x'], [':)', 'x', 'x']]]

In [2]:
print("Enter a value: ")
a = int(input())

print("Enter a value:")
b = int(input())

print("Enter a value:")
c = int(input())

Enter a value:
1
Enter a value:
2
Enter a value:
3