<a href="https://colab.research.google.com/github/vitorwmoutinho/projeto1aprender/blob/main/Recursos_uteis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

9.1 Compreensão de listas

In [ ]:
# Listas comprehension sem condiconal
[expr(item) for item in sequencia]

In [ ]:
# listas comprehension com condicional
[exprt(item) for item in sequencia if condicao]

In [ ]:
# cria uma lista de numeros de 1 a 10 elevados à 2
potencia = []
for item in range(1, 11):
  potencia.append(item ** 2)
print(potencia)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Podemos reescrever a mesma operação de outra forma, utilizando list comprehension
potencias = [item ** 2 for item in range(1, 11)]
print(potencias)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Multiplica por 10 os numeros de 1 a 15
[n * 10 for n in range(1, 16)]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150]

In [ ]:
# Indica se n é par ou não
[(n % 2 == 0) for n in range (0, 10)]

[True, False, True, False, True, False, True, False, True, False]

In [ ]:
# Cria uma lista com os números IMPARES de 1 a 10 elevados a 2
potencia1 = []
for item in range(1, 11):
  if item % 2 == 1:
   potencia1.append(item ** 2)
print(potencia1)

[1, 9, 25, 49, 81]

9.2 Compreensão sde diconários

In [ ]:
(Chave, valor for item in sequencia)

In [3]:
# Todos os numéros elevados a 2

dict_todos = {}
for item in range(1, 11):
  dict_todos[item] = item ** 2
print('Todos os numeros ', dict_todos)

Todos os numeros  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [4]:
# Podemos reescrever á nossa operação de outra forma, utilizando o dic comprehension
dict_todos ={item: item ** 2 for item in range(1, 11)}
print('Todos números: ', dict_todos)

Todos números:  {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
# Apenas números ímpares elevados a 2
dict_impares = {}
for item in range(1, 11):
  if item % 2 != 0:
    dict_impares[item] = item ** 2
print('Números impares: ', dict_impares)

Números impares:  {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

9.3 Funções Anônimas (Funções Lambda)